[2015-06-01 14:59] aliuwahab21 opened #1 "How to Trigger Google Account Authentication"
I have been able to set the configuration for the google authentication. I however get error saying "No scopes specified"

[2015-06-01 16:59] JoeDawson commented on #1
Hello @aliuwahab21,

At what point do you get this error? `No scopes specified`?

When you're redirected to Google? Or from your application?

[2015-06-12 14:10] JoeDawson commented on #1
Hey @aliuwahab21,

Did you manage to solve your issue?

[2015-06-23 12:20] Carthagian-Traveler opened #2 "Error Integrating in MongoDB"
Hey, thank you for this library.There is a problem integrating this library with my mongoDB app
It does not save to the database and when I did it manually, there was a problem with this function getLatestAccessTokenFromDB() since $latest in mongodb is an array but it expects an object.

[2015-06-24 14:56] JoeDawson commented on #2
Hello @Carthagian-Traveler, thanks for reporting.

I'll take a look into this ASAP.

[2015-06-28 17:18] aliuwahab21 commented on #1
Sorry for my long absence, had a little challenge. I resolved the authentication error but seem to face another challenge with respect to the path of the file. My questions are: Can you pass the video file directly from a form input or you need to store it locally before passing the path to the file? I tried passing the path to the file using the laravel 5 system using the storage facade but it sa

[2015-06-28 21:59] JoeDawson commented on #1
No problem @aliuwahab21, how does your form look and how does your controller look that handles the form? :)

[2015-06-29 10:07] aliuwahab21 commented on #1
My form has an input field of file type like: <input type="file" class="form-control col-sm-12" name="video" id="video">,
 In my controller I have the following code:
$video =   Request::get("video")

        $params = [
            'title' => "Sample video title",
            'description' => "Sample video deescription",
        ];

        $id = Youtube::upload($video, $params);

        return

[2015-06-29 21:57] JoeDawson commented on #1
What error are you getting when it fails?

[2015-06-30 13:17] aliuwahab21 commented on #1
When I link to video using the Storage Facade like: $video = storage_path('app/issues_images/testvid.3gp'), throws the error:

ErrorException in Youtube.php line 151:
fopen() expects parameter 1 to be a valid path, string given.

If I used a form to upload video with form  input field of file type with name video
In my controller I have the following code:
$video = Request::get("video").

I get th

[2015-06-30 17:52] JoeDawson commented on #1
Can you please try...

[code]

[2015-07-01 14:32] aliuwahab21 commented on #1
I used Request::file('video') and I get the error:

SplFileInfo::getType(): Lstat failed

[2015-07-01 14:41] JoeDawson commented on #1
I just reviewed your last message, it seems to be looking for the file in the wrong place...

[code]

Is this the same as what you got last time? Please paste the full error.

[2015-07-01 14:42] aliuwahab21 commented on #1
Yes is the same:
SplFileInfo::getType(): Lstat failed for C:\wamp\www\Citizen-Journalist\storage\app\issues_images\C:\wamp\tmp\php794E.tmp

[2015-07-01 15:42] JoeDawson commented on #1
Ok, that seems incorrect then. After this line...

[code]

Can you `dd()`` it please and paste the response here please?

[code]

[2015-07-01 21:28] aliuwahab21 commented on #1
When I dd() the video variable after getting it, the result is:

UploadedFile {#27 ▼
  -test: false
  -originalName: "relationships_are_not_haven.mp4"
  -mimeType: "video/mp4"
  -size: 14032726
  -error: 0
}

[2015-09-09 19:16] iseetechnology commented on #1
Not sure of the question is solved, but got the same issue.
When looking into the code I found:
`/* ------------------------------------`
`#. Set the Filesize`
`------------------------------------ */`
`$media->setFileSize(Storage::size($path));`
`/* ------------------------------------`
`#. Read the file and upload in chunks`
`------------------------------------ */`
`$status = false;`
`$handle =

[2015-09-10 10:59] JoeDawson commented on #1
I'll look into refactoring that, I built this package for a project I was working on at the time - that just used the Storage offering. Thanks for making me aware.

[2015-09-18 21:36] edandy commented on #1
it does not work

[2015-09-18 22:17] JoeDawson commented on #1
@edandy what's your issue?

[2015-09-18 22:18] JoeDawson commented on #1
@aliuwahab21 did you manage to solve your issue? Do you use the Storage facade? Or not?

[2015-09-19 20:56] edandy commented on #1
I have the same problem

[2015-09-20 09:24] JoeDawson commented on #1
Hello @edandy, can you please create a new issue with your error(s) and existing code. Thanks.

[2015-09-20 21:01] edandy commented on #1
SplFileInfo::getType(): Lstat failed for C:\xampp\htdocs\youtube\storage\app\video\wordpress.mp4

[2015-09-20 22:20] edandy commented on #1
I run the correction indicated by @iseetechnology

[2015-09-20 22:22] JoeDawson commented on #1
@edandy as I mentioned in my last message, can you please create a new issue?

https://github.com/JoeDawson/youtube/issues/new

Happy to help you further there.

[2015-09-20 22:44] edandy opened #3 "How uploading videos to one video channel"

[2015-09-20 22:46] JoeDawson commented on #3
Hello @edandy, thank you for creating a new issue. Please paste your code here that you're currently using.

Thanks.

[2015-09-20 22:48] edandy commented on #3
SplFileInfo::getType(): Lstat failed
This error is solved with this
$media->setFileSize(filesize($path));
$handle = fopen($path, "rb");

[2015-09-20 22:48] edandy commented on #3
I wonder if you can upload videos only to a specific channel

[2015-09-22 18:25] JoeDawson commented on #3
Hey @edandy, can you please ensure that the video is readable?

[2015-09-22 21:45] edandy opened #4 "Refresh Token does not work."
ErrorException in Youtube.php line 227:
Undefined property: stdClass::$refresh_token

[2015-09-22 21:47] JoeDawson commented on #4
Hello @edandy, can you please check you're using the most recent stable version?

[code]

[2015-09-22 22:09] edandy commented on #4
"dawson/youtube": "^1.0"

[2015-09-22 22:09] edandy commented on #4
{"dawson/youtube": "^1.0"}

[2015-09-22 22:13] edandy commented on #4
#"dawson/youtube": "^1.0"

[2015-09-22 22:48] edandy commented on #4
The error is in this: $refreshToken = $accessToken->refresh_token;

[2015-09-23 01:57] edandy commented on #4
please help me my friend

[2015-09-23 17:30] JoeDawson commented on #4
That's odd. Have you edited `YouTube.php`?

[2015-09-23 20:26] edandy commented on #4
My friend ran in remote and if it works

[2015-09-23 22:19] JoeDawson commented on #4
Sorry I don't understand?

[2015-10-07 14:41] Mwai opened #5 "An access token is required to delete a video."
I keep getting this error 'An access token is required to delete a video.' But the thing is, I'm not even trying to delete a video

[2015-10-07 15:16] JoeDawson commented on #5
Is there an access token available in your database?

On Wednesday, 7 October 2015, Mwai <notifications@github.com> wrote:

[2015-10-08 06:21] Mwai commented on #5
There isn't an access token available, I added my credentials to the ENV but on the test run it gave me the error stated above. Here's the controller I'm using.

$video = $request->file('file');;

                $params = [
                    'title' => 'Test',
                    'description' => 'description',
                    'category_id' => 10,
                    'tags' => [

[2015-10-08 08:28] Mwai commented on #5
I was able to get the access token but now I get the error below when I try upload
Google_Exception in MediaFileUpload.php line 300:
Failed to start the resumable upload (HTTP 401: youtube.header, Unauthorized)

[2015-10-08 11:26] JoeDawson commented on #5
Looks like you're almost there @Mwai, it sounds like you just need to implement a Queue Job into your workflow.

http://laravel.com/docs/5.1/queues

I do this myself as waiting for a video to upload in the browser will in most cases time out.

[2015-10-08 11:27] #2 closed

[2015-10-14 08:56] JoeDawson commented on #5
Did you manage to solve the above with a job?

[2015-10-14 09:05] Mwai commented on #5
I was able to... Thank you so much for the help
On Oct 14, 2015 11:56 AM, "Joe Dawson" <notifications@github.com> wrote:

[2015-10-14 10:47] JoeDawson commented on #5
Brilliant, glad to help.

[2015-10-14 10:47] #5 closed

[2015-10-16 12:34] Carthagian-Traveler commented on #2
Hey.. was the issues sorted?

[2015-10-16 12:43] JoeDawson commented on #2
Hey @Carthagian-Traveler, not yet. Will need to look into it when I get a chance. I've never used Mongo myself so not quite sure where to start yet.

Will update this when I eventually do though.

[2015-10-16 12:44] JoeDawson commented on #2
You're more than welcome to submit a PR if you have the time and I'll try and do some testing.

[2015-10-28 21:29] keyboSlice opened #6 "Uploaded Videos stay on 0%"
Hi there,

bit of a random one I'm using your library to upload videos to YouTube, but unfortunately the videos seem to stay on 0% in the video manager of my youtube account - I was wondering whether there is some error that I'm missing that is being thrown or could it be some kind of permissions issue? I have put a try catch around your upload method to catch Google_ServiceException and Google_Ex

[2015-10-29 16:20] JoeDawson commented on #6
Hey @keyboSlice,

Thanks for using the library. I haven't come across this issue personally.

Would you mind sharing some of your code please?

[2015-10-29 16:21] JoeDawson commented on #3
Closing this issue due to inactivity. If you want to open another issue please feel free.

[2015-10-29 16:21] #3 closed

[2015-10-29 16:21] JoeDawson commented on #4
Closing this issue due to inactivity. If you want to open another issue please feel free.

[2015-10-29 16:21] #4 closed

[2015-10-30 15:25] rahulsingh786 opened #7 "Youtube Upload Issue"
Whenever I am trying to upload a video to my youtube account after authentication (obviously), I am getting an error as following:
1) Non-static method Dawson\Youtube\Youtube::upload() should not be called statically, assuming $this from incompatible context

For the above one I created a new instance of Youtube class inside my controller method like below

$youtube = new Youtube();

After that I

[2015-10-30 15:37] JoeDawson commented on #7
Hey Rahul,

Thanks for your email earlier and submitting this issue.

Are you using the recommend package version? `"dawson/youtube": "1.0.*"`

If yes, have you correctly followed the [configuration steps](https://github.com/JoeDawson/youtube#configuration) and [authentication step](https://github.com/JoeDawson/youtube#authentication) in shown in the readme?

You should have a table in your databa

[2015-10-30 15:43] rahulsingh786 commented on #7
Yes I am using "dawson/youtube": "1.0.*". I also setup the authentication steps as given and in fact got redirected to the  url as I set. I do have a table named youtube_access_token in my db but no value is being saved to db after successful authentication. Any other modification I need?

[2015-10-30 15:51] JoeDawson commented on #7
That's odd. Could you log into Google's developer console here: https://console.developers.google.com

- Head to the project you set up, in this example I chose my 'Diverse Sounds' project.
- From the side navigation, click 'APIs & auth', then 'APIs'
- Just to the right of the side navigation will be 'Enabled APIs', click that.

Here's an quick screenshot to help

![dev](https://cloud.githubuserco

[2015-10-30 15:55] rahulsingh786 commented on #7
It was a stupid error. fixed it. Initially, I set up my route as get instead of post. Changing it to post solved this issue and now I am getting access token saved inside my table. Now, another error, why the path of video prepending path to storage folder. I have my videos inside public directory, which i want to upload. I tried changing the full path as $pathToMovieFile = public_path(). "\\userv

[2015-10-30 15:59] JoeDawson commented on #7
Glad to hear that's now working!

Regarding the path to the video, at this moment in time - it's hard coded to storage_path(). That's something I'm looking to amend in the near future as there have been a couple of issues regarding that as not everyone stores their files in storage.

I just built this package during a project that I was using the storage_path() to upload my videos.

As I said, I a

[2015-10-30 16:02] rahulsingh786 commented on #7
Aah! Aren't changing the path inside upload method from storage_path() to public_path( )would get this job done? If not, I can wait until weekend to hear something back from you. Thanks again!

[2015-10-30 16:09] JoeDawson commented on #7
There's a possibility it would work, but I can't confirm that it will.

Ideally, this weekend I'll be looking to remove `storage_path()` completely from the package and leave it down to the developer to specify the full path to the video.

So you should eventually have to do something like this:

[code]

Which obviously gives the developer a lot more control over the path of the file they want to

[2015-10-30 16:12] rahulsingh786 commented on #7
I tweaked it a little bit and now its working. Below is the code that I tweaked in case anyone need in future.
/* ------------------------------------
		#. Set the Filesize
		------------------------------------ */
		$media->setFileSize(File::size(public_path('uservideos/' . $path)));
		//$media->setFileSize(Storage::size($path));

		/* ------------------------------------
		#. Read the file and u

[2015-10-30 16:13] JoeDawson commented on #7
Happy to help! Thanks for using the package :+1:

[2015-10-30 16:13] #7 closed

[2015-11-04 12:02] JoeDawson commented on #7
Just a quick update on this, I'll be aiming to fix this tonight as I didn't get time this weekend.

[2015-11-20 21:18] JoeDawson commented on #6
Closing due to inactivity. Feel free to reopen should you need assistance.

[2015-11-20 21:18] #6 closed

[2015-11-23 11:59] keyboSlice commented on #6
Hi so sorry to not reply, the problem was in another area of the code, thanks for getting back to me though the library works great.

[2015-11-23 12:20] JoeDawson commented on #6
Brilliant - happy to hear it's working!

[2015-11-23 20:10] dawiyo opened #8 "Single User, Single Channel video uploading with error"
I'm trying to set up a single channel uploading process and keep receiving this error:
SplFileInfo::getType(): Lstat failed for (file path).

I've changed permissions of that folder to 755 and then 777 and still no luck. Any ideas?

[2015-11-23 20:36] JoeDawson commented on #8
Hey @dawiyo, thanks for using the package.

Can you provide some code you currently have please?

[2015-11-23 20:45] dawiyo commented on #8
My issue is similar to this one: https://github.com/JoeDawson/youtube/issues/3

I can up to the point of authenticating and it saves the access token to the DB. After that, I get the error above.

In my controller I have just a simple test:
[code]

[2015-11-23 20:55] JoeDawson commented on #8
Hmm - if you're not already, could you try using the `dev-master` please?

Update your `composer.json` with:

[code]

And `composer update`

[2015-11-23 21:11] dawiyo commented on #8
It's working! Holy crap this is sweet. Any idea on using this for a single channel only? I have 54 trusted (no copyright issues) users that need to upload videos for me to see in one channel. They can't hit that auth screen every time. Any ideas so when they're authenticated in Laravel, it's seamless to the user?

[2015-11-23 21:18] JoeDawson commented on #8
I haven't thought about it, but I guess it's possible - database might need a bit of tweaking. Let me think about it and I'll get back to you :)

Happy it's working!

[2015-11-23 21:18] #8 closed

[2015-11-24 15:21] thorstenHe opened #9 "Vimeo functionality in youtube???"
[code]
It would be nice to add the functionality of the vimeo.php extension in the youtube one. It would make it easier create proper structures in the programming.

[2015-11-24 15:22] JoeDawson commented on #9
Sorry, I don't understand your issue? Are you asking for Vimeo support?

[2015-11-24 15:23] thorstenHe opened #10 "Additional parameters for youtube?"
[code]
Why not more params? Private and all this stuff? Youtube offers quite a lot of options that can be called  via json-object. Some additional would be nice. Actually it should be possible to throw them into the array with the description and a value, while a method in the background generates the json-object.

[2015-11-24 15:27] thorstenHe commented on #9
No, I would suggest similar functionality in both extensions. I have the vimeo stuff up and running, while the youtube extension lacks what I would like to use. For instance, the aspect of receiving the access token from google is less convenient than in vimeo, where I can rely on a method (see initial posting) in order to receive it.

[2015-11-24 15:27] JoeDawson commented on #10
I'll consider this @thorstenHe, thanks for the request.

[2015-11-24 15:57] JoeDawson commented on #9
I'm not sure what you mean by "both extensions". This package only supports YouTube, `vimeo.php` does not exist anywhere in this package so I'm going to close this.

[2015-11-24 15:57] #9 closed

[2015-11-25 07:57] thorstenHe commented on #9
https://github.com/vimeo/vimeo.php
Is that so difficult to understand?

[2015-11-25 08:02] JoeDawson commented on #9
I'm sorry but your english isn't that great in your responses.

I asked you if you were requesting Vimeo support, and you responded with "No, I would suggest similar functionality in both extensions".

It seems like you *are* requesting Vimeo support, which I do not plan on doing.

You might want to look at this package instead: https://github.com/vinkla/vimeo

[2015-12-14 15:07] mattyMattMatt opened #11 "Issues with the refresh token"
Hi Joe,

Awesome extension to laravel!!

I'm having issues with the stdClass::$refresh_token. I have noticed that if I don't run an authentication with my youtube channel daily it pops up with a Undefined property: stdClass::$refresh_token. Which is easy enough to resolve by re-authentication.

Is this normal operation of the access/refresh token? I would ideally like it to re authenticate again o

[2015-12-14 17:06] JoeDawson commented on #11
Hey Matt,

Thanks for using the package.

Hmm, that does seem a little odd - as refreshing is done automatically per request.

For example when you run `Youtube::upload()` it will refresh it anyway - even if the token doesn't need refreshing just yet.

What exact errors are you receiving?

Thanks!

[2015-12-14 18:57] mattyMattMatt commented on #11
Here is a short dump of the error message:

1/1
ErrorException in Youtube.php line 225:
Undefined property: stdClass::$refresh_token
in Youtube.php line 225
at HandleExceptions->handleError('8', 'Undefined property: stdClass::$refresh_token', '/home/vagrant/sites/cornerfour/vendor/dawson/youtube/src/Dawson/Youtube/Youtube.php', '225', array('accessToken' => object(stdClass))) in Youtube.php line 2

[2015-12-14 19:12] JoeDawson commented on #11
What does your `youtube.php` config look like? Don't forget to remove any sensitive data if it appears in your config :)

[2015-12-14 20:06] mattyMattMatt commented on #11
Definitely on Dev Master, here is a dump of my config pretty standard thou, as I said out the box usage

`<?php

return [

	/**
	 * Application Name.
	 */
	'application_name' => 'C4',

	/**
	 * Client ID.
	 */
	'client_id' => getenv('YOUTUBE_CLIENT_ID'),

	/**
	 * Client Secret.
	 */
	'client_secret' => getenv('YOUTUBE_CLIENT_SECRET'),

	/**
	 * Route Base URI. You can use this to prefix all route

[2015-12-14 23:13] JoeDawson commented on #11
All looks good, thanks for getting back to me.

Okay, when you authenticate and it stores a new access token - does that value include a "token_type"? If so, what is it? Mine looks like this.

[code]

[2015-12-16 06:22] mattyMattMatt commented on #11
Sorry to take a while to get back to you. Yes as you can see below it does store a "token_type", but it definitely isn't storing a refresh_token. If I look at all the previous lines in the database the first two do include a refresh_token but all subsequent do not.

`{
"access_token" : "REMOVED",
"token_type":"Bearer",
"expires_in":3599,
"created":1450246587
}`

[2015-12-16 09:17] mattyMattMatt commented on #11
Boom, ok so i found it. See here  http://stackoverflow.com/questions/10827920/google-oauth-refresh-token-is-not-being-received for the article. Basically The google api only returns the refresh_token on the first authorization as the token never changes.

I noticed I had two potential accounts which I could authorize and I wasn't 100% certain which one was associated to the out youtube account. I

[2015-12-17 09:44] JoeDawson commented on #11
Brilliant, glad you got it working @mattyMattMatt - I break up for Christmas next Wednesday and will have time to made some improvements to this package as there are quite a few things I've missed.

Thanks again for getting back to me with a solution and an explanation.

[2015-12-17 09:44] #11 closed

[2016-01-07 07:12] sethigoldy opened #12 "Can we make this Campatible with Laravel 4.2"

[2016-01-07 07:38] JoeDawson commented on #12
Hello, there are no plans to support 4.2.

[2016-01-07 07:38] #12 closed

[2016-01-23 17:13] markandrewkato opened #13 "Check if uploaded video is a duplicate"
Hi,

How do I check if the video is a duplicate? What happens right now is that, if the video is a duplicate, it still uploads.

[2016-01-23 17:16] JoeDawson commented on #13
Hey @markandrewkato,

Currently, there's no way to tell if there's a duplicate upload - there are a few things I need to do to improve the package that I'm trying to put some time aside for but unfortunately other things are taking up my time right now.

I aim to spend February some time in February updating this package as well as my recently added [Amazon package](https://github.com/JoeDawson/am

[2016-01-23 17:16] #13 closed

[2016-01-26 19:00] Lzok commented on #5
Hello and sorry for my bad english. I am trying to implement automatic uploads to youtube but I am getting:
Google_Exception in MediaFileUpload.php line 300:
Failed to start the resumable upload (HTTP 401: youtube.header, Unauthorized)

How can I implement queues for that job? My function:
	public function store (Request $request)
	{
		$file = $request->file('video');

        $destinationPath = s

[2016-01-28 18:15] rsantosmello commented on #1
Hello,

Sorry, I have installed already now this package and I did set the .ev with GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET

Now I need to do my first authentication, but I didn't able to do it.

Please, what I need to do to access localhost/youtube-callback?

I need to change my route.php?

Thank you.

[2016-01-28 18:17] JoeDawson commented on #1
@rsantosmello could you open a new issue please?

https://github.com/JoeDawson/youtube/issues/new

Your issue isn't related the this one, would rather keep it somewhat organised :)

[2016-01-28 18:17] #1 closed

[2016-01-29 18:55] Lzok opened #14 "Unique ask for permission. Is it possible?"
Hi Joe. First, your app works so good and thanks.
I was wondering if there is any way that google does not ask us permission to do so or only once.
Our app has videos that are moderated and then, uploaded to one unique youtube channel. it is not so good that the app ask us for permission every time that the moderators log in.
Is any whay to do that?

Sorry for my english.

Greetings.

[2016-02-03 16:58] rsantosmello opened #15 "Undefined property: stdClass::$refresh_token"
I managed to uploaded some videos on my Youtube account.

But today when I had tried upload other videos I received this error "Undefined property: stdClass::$refresh_token", this happen after 2 days without used this function.

I found this explanation but I wasn't able to fix
http://stackoverflow.com/questions/30708624/cannot-refresh-token-from-google-api-oauth2

Anyone know how to fix it.
Thank

[2016-02-03 17:07] JoeDawson commented on #15
Hey @rsantosmello,

Thank you for using the library. Could you paste here what you're most recent token looks like?

**Please do not forget to remove any sensitive data, example;**

[code]

I believe this may be related to #11. Thanks.

[2016-02-03 17:14] JoeDawson commented on #14
Hey @Lzok,

Thank you for using the library :)

When you first authenticate and allow permission, it will store a token in a `youtube_access_tokens` table in your database.

When you call any method on the facade, wether it be `upload` or `delete` it will use the most recent token available. So you shouldn't need to authenticate each time.

Do you have multiple tokens in your `youtube_access_token

[2016-02-03 18:14] Lzok commented on #14
Your welcome, it is so useful. Here I give you the information requested:
{
"access_token":"token",
"token_type":"Bearer",
"expires_in":3600,
"created":1454506267
}
This is the only record we've in our database. The problem we have is when a moderator accept a video, and he is already logged in with his Google account, the video is uploaded to his account, instead of the youtube channel we want to

[2016-02-12 21:35] thialves commented on #2
Hey,

Change for this:
`if ($latest) { return json_decode(json_encode($latest))->access_token; }`
in src/Dawson/Youtube/Youtube.php: line 64

Worked for me.

:)

[2016-02-20 12:48] AngelRodRo opened #16 "How to cancel an upload?"
How to cancel an upload because the connection is slow? When I upload a video sometimes my connection is slow and the uploading is maintained long

[2016-02-20 12:53] JoeDawson commented on #16
Hi @AngelRodRo,

Thanks for using the library. What you want to do is look for some kind of way to handle timeouts manually.

I personally use Laravels queues to handle uploads, which you can set a maximum on your queue listener. Look at the **Specifying The Job Timeout Parameter** option [here](https://laravel.com/docs/5.1/queues#running-the-queue-listener)

Because your question isn't related to

[2016-02-20 12:53] #16 closed

[2016-02-20 12:55] JoeDawson commented on #15
Closing due to inactivity.

[2016-02-20 12:55] #15 closed

[2016-02-20 12:57] JoeDawson commented on #14
Hello Lzok,

Sorry for the incredibly delayed reply. I believe this may be related to the permissions of your application on Google, I'll investigate my application(s) now and report back to see if I can find out why you're not getting the refresh token.

[2016-02-20 13:11] JoeDawson commented on #14
Hello @Lzok,

Right, I believe this is related to #11 - of which another user was not getting a refresh token also.

What he had to do, was revoke permissions for the application you set up in your account security settings - https://myaccount.google.com/u/1/security

Here was the Stackover question - http://stackoverflow.com/a/10857806

Let me know of this helps?

[2016-02-20 13:14] #10 closed

[2016-02-20 15:47] AngelRodRo commented on #16
Thanks very much and sorry

[2016-02-20 15:47] JoeDawson commented on #16
No reason to be sorry @AngelRodRo, a queue should be what you need :)

Thanks again for using the library!

[2016-02-29 16:07] rvizcaino80 opened #17 "Could not find route."
Hi, great work with this package. For an unknown reason the default auth route (/youtube-auth) is not working for me. I just get NotFoundHttpException. Thanks.

[2016-02-29 17:06] rvizcaino80 commented on #17
Sorry it was my issue, in the app/youtube.php I had 'route_base_uri' => 'mydomain.com', now I left it empty and it works! thank you.

[2016-02-29 17:07] JoeDawson commented on #17
Hey @rvizcaino80,

Glad you got it working, enjoy! :)

[2016-02-29 17:07] #17 closed

[2016-02-29 17:43] rvizcaino80 opened #18 "Error in upload"
Sorry about this, probably I am doing something wrong. I am getting **Non-static method Dawson\Youtube\Youtube::upload() should not be called statically, assuming $this from incompatible context** when trying to do:

       $params = [
            'title' => 'title',
            'description' => 'description'
            'category_id' => 28,
            'tags' => ['test']
        ];

        $id =

[2016-02-29 17:51] rvizcaino80 commented on #18
Doing a further research, after authentication I am not seeing any record on table youtube_access_tokens, any idea?

[2016-03-01 12:53] rvizcaino80 commented on #18
Any help?

[2016-03-01 12:58] JoeDawson commented on #18
Hey @rvizcaino80,

Could you provide the full error stack please? A screenshot or something will help.

I've never had this issue before, nor has it been reported, so it seems a little odd.

Thanks

[2016-03-01 13:01] rvizcaino80 commented on #18
I saw someone reported it before here https://github.com/JoeDawson/youtube/issues/7 but I am not sure how did he fixed it. I will send more info.

[2016-03-01 13:05] rvizcaino80 commented on #18
I checked my google api console and youtube data api v3 is enabled, Ans installed and configured everything as your guide. I then go to the auth url and I choose my google account, it sends me to my redirect uri without issue. But it is not writing on youtube_access_tokens table.

[2016-03-01 13:22] JoeDawson commented on #18
Regarding #7 does this help? It appears it could be related to how you're
calling your code above. Try post?

It was a stupid error. fixed it. Initially, I set up my route as get
instead of post. Changing it to post solved this issue and now I am getting
access token saved inside my table

On Tuesday, 1 March 2016, rvizcaino80 <notifications@github.com> wrote:

[2016-03-01 13:28] rvizcaino80 commented on #18
I have not created any route, I am using the one provided by you (/youtube-auth), I am seeing a lot of garbage on the error, take a look.

![screen shot 2016-03-01 at 8 27 35 am](https://cloud.githubusercontent.com/assets/1534942/13428285/8f447efa-df87-11e5-95fc-4aab213b34c1.png)

[2016-03-01 13:31] rvizcaino80 commented on #18
Also I want to explain what I am doing, I am creating a video file from Laravel and storing on my server on /storage, the video gets created without issues (I downloaded it and tested and it is fine), after that what I want is to upload that video to youtube with my code.

    $video = "/var/www/html/site/storage/vid.mp4";

    $params = [
        'title' => 'title',
        'description' => 'desc

[2016-03-01 13:44] JoeDawson commented on #18
You wouldn't see see that error on the /youtube-auth route at all. How're you trying to upload? What does your route look like?

[2016-03-01 14:19] rvizcaino80 commented on #18
I am trying to upload with a function inside my controller, I am taken there with a form and a post route. In the /youtube-auth route I am not seeing any error, the flow works just fine (but nothing gets written on youtube_access_tokens table)

    post('storeVideo', array(
        'as' => 'admin.app.storeVideo',
        'uses' => 'Admin\AppController@storeVideo'
    ));

[2016-03-01 14:23] JoeDawson commented on #18
Thanks @rvizcaino80. Does the account you're authenticating with, have a YouTube channel too?

[2016-03-01 14:27] rvizcaino80 commented on #18
Yes! I have tried three accounts.

[2016-03-01 14:31] JoeDawson commented on #18
Ok, I'll have to take a better look at this later this evening as I'm at work currently.

One thing that I've just seen is your reply to the other issue you submitted yesterday #17 - you mention that you change the url to be empty - **it should not be empty**. It should be the URL of the application you're trying to authenticate with.

Try updating this to use the domain of your application and se

[2016-03-01 14:36] rvizcaino80 commented on #18
What I left empty was this: 'route_base_uri' => '', you say it is only a prefix. Question: the last line of youtube config file I see 'developer_key' => env('GOOGLE_DEVELOPER_KEY'), what is this? I only have GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET.

[2016-03-01 14:38] rvizcaino80 commented on #18
Another thing I notice is phpstorm complaining about this:
![screen shot 2016-03-01 at 9 38 06 am](https://cloud.githubusercontent.com/assets/1534942/13430043/5225033c-df91-11e5-89d3-613dd9922c99.png)

My using statement is: use Dawson\Youtube\Youtube; is this correct?

[2016-03-01 14:45] rvizcaino80 commented on #18
![screen shot 2016-03-01 at 9 45 02 am](https://cloud.githubusercontent.com/assets/1534942/13430248/4b8d15ea-df92-11e5-8039-87845e279328.png)

[2016-03-01 14:48] JoeDawson commented on #18
As per the installation, try registering the Facade in `app.php`

[code]

Then at the top of your controller:

[code]

[2016-03-01 17:12] JoeDawson commented on #18
Ok - I'll take a look this evening.

[2016-03-01 17:14] rvizcaino80 commented on #18
Thank you so much for your help!

[2016-03-09 02:59] rvizcaino80 commented on #18
Sorry to bother you, any idea on my issue?

[2016-03-09 12:22] hemant6488 opened #19 "Strange Error"
When I hit the URL: '/youtube-auth',
I get:
BadMethodCallException in ServiceProvider.php line 237:
Call to undefined method [createAuthUrl]

Also when I try to access the Youtube::upload() function, it says:
FatalErrorException in VideoController.php line 27:
Call to undefined method Dawson\Youtube\YoutubeServiceProvider::upload()

Can you please help me to figure out whats wrong?
I've included t

[2016-03-09 12:35] JoeDawson commented on #19
Have you added the Alias?

[code]

And at the top of your `VideoController` ensure you have.

[code]

[2016-03-09 12:36] JoeDawson commented on #18
Sorry @rvizcaino80 I've had issues with my PC lately, I will try my best to solve this as soon as possible. I shouldn't have promised I would look at it last week, sorry!

[2016-03-09 12:37] JoeDawson commented on #14
Did the above help @Lzok?

[2016-03-09 12:58] hemant6488 commented on #19
Yes I have, and also added "use Youtube" on top. I've followed all the steps written in readme.md

[2016-03-09 13:02] hemant6488 commented on #19
Also, I am able to access the upload function by "app::make('youtube')->upload()" but then it says you need an id to delete the video.

Ps: thanks for reverting back

[2016-03-10 12:48] sid606 opened #20 "Call to undefined BladeCompiler::directive"
Hi

When I try to install this it give me this error:
`PHP Fatal error:  Call to undefined method Illuminate\View\Compilers\BladeCompiler::directive() in /var/www/html/vendor/laravel/framework/src/Illuminate/Support/Facades/Facade.php on line 213
`

I'm using Laravel 5.0 I can't upload to Laravel 5.1

[2016-03-14 08:54] nizam27391 opened #21 "How to update video metadata"
Hi.
Thanks for the awesome plugin.

I would like to know if there is any plan to include updating the video data.
What I want to do now is that the uploader can update his video data (descriptions,tags,privacy) even after some time.

Currently I can't seems to find it.

Thanks

[2016-03-14 10:03] JoeDawson commented on #21
Hi @nizam27391,

Thank you for using this package :)

Currently there's no way to update a video's information once it has been upload with this package, it may be something I'll consider adding in the future but at this moment in time I have other bugs to fix first.

I'll help this idea noted though as it may be quite helpful to have this.

Thanks!

[2016-03-14 10:03] #21 closed

[2016-03-15 13:09] Lzok commented on #14
Sorry for delay. We'd done that project (it was only temporal) but we hardcoded the refresh_token in the core of your package.
You can close the issue, thanks Joe.

[2016-03-16 14:27] JoeDawson commented on #14
Thanks @Lzok glad you got it working.

[2016-03-16 14:27] #14 closed

[2016-03-16 14:29] JoeDawson commented on #20
Hello @sid606, could you paste your `composer.json` please?

Thanks

[2016-03-16 14:32] sid606 commented on #20
I fix this by inserting "google/apiclient":"1.1.7", before "dawson/youtube": "dev-master"

[2016-03-16 14:33] JoeDawson commented on #20
I see. That package is a requirement of this library so when you ran `composer install` it should have installed.

Anyway - glad you got it working.

[2016-03-16 14:33] #20 closed

[2016-03-31 09:10] markandrewkato commented on #13
Sorry for the late reply. Thank you very much! :+1:

[2016-04-13 16:31] yogomezo10 opened #22 "An access token is required to delete a video"
Hello, sorry for my English. I have this problem and I checked other solutions that has given others but have not worked for me. I am using the version dev-master and I checked in google and I have activated YouTube Data API v3, also generate my Client ID and Client secret but not because it will not let me connect.
Any idea because it can be? thank you very much.

[2016-05-26 11:12] m3ikoviki commented on #22
Same problem here :)

[2016-06-03 05:50] Tomasseee opened #23 "Unlisted video"
Hello,

Your script works great, but, how can i pass unlisted parameter?

[2016-06-03 09:22] JoeDawson commented on #18
Hello @rvizcaino80,

Did you manage to solve this at all?

[2016-06-03 09:23] JoeDawson commented on #19
Hello,

Did you manage to resolve this?

[2016-06-03 13:26] JoeDawson commented on #23
Hello @Tomasseee,

Sorry, but currently there's no way to do this with the package. I'm planning of doing a rewrite of the plugin soon, so I'll try and add that in.

[2016-06-03 13:26] #23 closed

[2016-06-03 13:28] JoeDawson commented on #22
Hello @yogomezo10 and @m3ikoviki

What is not working for you both?

[2016-06-03 13:29] Tomasseee commented on #23
But it works like this, tested:)

id = Youtube::upload($pathToMovieFile, $params, 'unlisted');

[2016-06-03 13:30] JoeDawson commented on #23
Well, I must have forgot that was in there lol. Glad it works!

[2016-06-03 13:41] Tomasseee commented on #23
It will be very useful for others if you extend the documentation with this feature :)

[2016-06-03 17:43] m3ikoviki commented on #22
Hello @JoeDawson, in my case it's my bad. I didn't create the rooting point for both authentication and authorisation. I think you neef to point, in the readme file, the fact that those two need to be created and not just hit on.

[2016-06-03 21:17] JoeDawson commented on #22
@m3ikoviki do you mean these routes?

https://github.com/JoeDawson/youtube/blob/master/src/routes.php

I'll get this added to the documentation if this is what you're talking about.

Or I'll just add in some fallbacks for each route if the environment variables are not set.

[2016-06-03 21:24] m3ikoviki commented on #22
Yup those ones, if i don't create these routes :

`Route::get('/youtube-auth', function () {});`
`Route::get('/youtube-callback', function () {});`

i get a 404 error when calling '/youtube-auth' and '/youtube-callback' and it wasn't mentioned in the documentation.

[2016-06-11 09:56] JoeDawson commented on #22
Hello @nizam27391,

Does authenticating again resolve your issue? Hitting the `/youtube-auth` route.

[2016-06-12 15:07] Badman37 opened #25 "Failed to start the resumable upload"
i upload successful when i use account developer console. but when i use other account, i can't upload video. it's show this error.
Google_Exception in MediaFileUpload.php line 334:
Failed to start the resumable upload (HTTP 401: youtube.header, Unauthorized)

can you help me !

[2016-06-12 23:35] nizam27391 commented on #22
@JoeDawson I already authenticating it back. And the error is gone.
But another error pops out.

`Google_Service_Exception in REST.php line 110:
Error calling PUT https://www.googleapis.com/upload/youtube/v3/videos?part=status%2Csnippet&uploadType=resumable&upload_id=AEnB2Ur-yD6Nm6v6H6qVm3ulIIKoKkqd-0P7O6-QoitVuIYnDx9y1FCDmUPOeB09bUlnvflydFDNgOzjqeNX7yQ8A5nin56yrw: (503) Backend Error`

I made no

[2016-06-17 15:05] JoeDawson commented on #25
Hello @Badman37,

How're you currently attempting to upload? How large is the file? Do you use queues?

[2016-06-23 13:37] theseus007 commented on #22
@JoeDawson  Hi, I am getting the same error "Exception in Youtube.php line 219:
An access token is required to delete a video." I have set the CLIENT_ID and SECRET_ID in .env

[2016-06-23 15:53] JoeDawson commented on #22
Hello @theseus007,

In your `youtube_access_tokens` table, what does the last `access_token` look like? Here's an example - **please remember not to include your actual tokens :)**

[code]

[2016-06-24 04:33] theseus007 commented on #22
@JoeDawson  Thanks, I solved it by hitting the youtube-auth before. Also, the returned value is the id of youtube video, how can i modify it to get the duration of uploaded video too?

[2016-06-26 05:43] theseus007 commented on #22
@JoeDawson I think once I authenticate using youtube-auth, the token expires after few hours, is it so? because, hitting youtube-auth again solves the problem;

[2016-06-27 16:11] jimmyt2003 commented on #25
I have the same problem

[2016-06-27 16:12] jimmyt2003 commented on #25
Worked fine with personal youtube credentials then changed them for the new api credentials for my website channel and I get the same error as @Badman37

[2016-06-30 10:28] aanandshekharroy opened #26 "Token expires after few hours."
I think once I authenticate using youtube-auth, the token expires after few hours, is it so? because i am getting error as "Undefined property: stdClass::$refresh_token" and, hitting youtube-auth again solves the problem

[2016-06-30 10:30] JoeDawson commented on #25
You're also getting this?

How're you currently processing the upload? Do you use queues?

[2016-06-30 10:30] JoeDawson commented on #25
@jimmyt2003 see my comment above.

[2016-06-30 10:32] JoeDawson commented on #26
@aanandshekharroy what do your tokens look like though in your database? I asked in #22 but you didn't say:

It should look like this:

[code]

[2016-06-30 10:42] aanandshekharroy commented on #26
I don't have "refresh_token" in my database, except this, everything is there.

[2016-07-04 16:46] JoeDawson commented on #26
Okay, you should be getting a refresh token. I'll look into it to see what it might be and get back to you.

[2016-07-04 16:48] JoeDawson commented on #26
@aanandshekharroy I also recommend truncating your `youtube_access_tokens` table and trying to authenticate again.

[2016-07-04 23:08] shubhang-arora opened #27 "ErrorException in Youtube.php line 145:"
filesize(): stat failed for http://localhost:8080/uploads/a.mp4

[2016-07-05 06:35] moh3n65 commented on #26
@aanandshekharroy Same issue here. Don't get the refresh_token field.

[2016-07-05 06:47] moh3n65 commented on #26
done the same thing as: http://stackoverflow.com/questions/10827920/not-receiving-google-oauth-refresh-token
and the problem solved.

[2016-07-05 07:39] moh3n65 commented on #26
Now the issue is how to get new access token using refresh_token?

[2016-07-05 08:59] JoeDawson commented on #26
It should automatically handle tokens. You don't need to do anything to get
a new token.

On Tuesday, 5 July 2016, moh3n65 <notifications@github.com> wrote:

[2016-07-05 09:24] moh3n65 commented on #26
have set approval_prompt to:
`'approval_prompt' => 'force'`
and deleted every rows from table which are not included "refresh_token", means the last row must have the refresh_token so it can get access_token again and again.
It works fine now.

[2016-07-09 14:31] jimmyt2003 opened #28 "Ability to set custom thumbnail"

[2016-07-14 16:50] #27 closed

[2016-07-18 05:28] nizam27391 commented on #22
Hi @JoeDawson .. true,. I also have this problem before. Did we have to hit the youtube-auth everytime the token expires? Coz its not really a good practise as the system I made is for a client to use. So if we can find better way to manage the token without having them to hit the youtube-auth everytime, that will be good.

Thanks

[2016-07-18 06:35] JoeDawson commented on #22
No you shouldn't need to hit youTube-auth each time. Does this help you?

https://github.com/JoeDawson/youtube/issues/26#issuecomment-230429528

The token should refresh automatically, I used this package to upload
videos almost 15 times a week when I built it without any issues.

On Monday, 18 July 2016, Muhammad Nizam Bin Mohd Yusop <
notifications@github.com> wrote:

[2016-08-16 02:03] nizam27391 commented on #22
Hi @JoeDawson .. its been a while.Sorry I just came from long holiday and received lots of complaints from client.

I still have the same problem. Having a 'approval_prompt' => 'force' isn't really an option as the system is for clients. The latest token I get is

[code]
which doesnt include the refresh token..
That is on our development side.

And on production, I received the following errors.
`

[2016-08-20 17:20] nizam27391 opened #29 "Cannot upload video to channel"
Hi @JoeDawson ..

As what I commented in #22 ..
I have trouble uploading the video into the Youtube channel.

I received the following errors.
`Error calling PUT https://www.googleapis.com/upload/youtube/v3/videos?part=status%2Csnippet&uploadType=resumable&upload_id=AEnB2Uo861Mp6x6yxJYpAPDjpEObncJVyWr51MET2a9aGWDmczxW253CcOWuVj25B2XjCjDOrCJ7lZzK_WcyquqAB8UUNUCysUsZ-_5emt9Gt3ZZO7krQ9E: (400) Failed

[2016-08-27 22:38] JoeDawson commented on #29
Hello @nizam27391,

Are do you still require help? I've just pushed a new release with some small tweaks and would love for you to try. It's mostly the same.

Look forward to hearing from you.

[2016-08-27 22:39] JoeDawson commented on #28
This will be coming soon.

[2016-08-27 22:39] #28 closed

[2016-08-27 22:39] JoeDawson commented on #26
Closing due to inactivity @aanandshekharroy, please feel free to create a new issue if you still require help.

[2016-08-27 22:39] #26 closed

[2016-08-27 22:40] JoeDawson commented on #25
Closing due to inactivity. I'd recommend using [queues](https://laravel.com/docs/queues) if you're not already for large uploads.

[2016-08-27 22:40] #25 closed

[2016-08-27 22:41] #19 closed

[2016-08-27 22:41] #18 closed

[2016-08-27 22:44] JoeDawson commented on #22
Closing due to inactivity from participants (and creating separate issues) :)

Feel free to create an issue if you're still stuck.

[2016-08-27 22:44] #22 closed

[2016-08-31 10:23] JoeDawson commented on #29
Hi @nizam27391 - just sending you another message to ensure you're ok with everything now or need help?

Many thanks

[2016-09-01 04:53] nizam27391 commented on #29
Hi. Sorry didn't notice this due to holiday.

We didn't update the plugin just yet coz its already in production and UAT is pending. So updating it will perhaps done later. The issue above have been changed to other issues now, its the `refresh_token `issues again.

But regarding the problem, we noticed that we're not accepting the refresh_token in the db. Can I know why is that?

I already change

[2016-09-01 08:37] JoeDawson commented on #29
Hi @nizam27391 no problem.

What type of key did you create in your Google console? Was it a Server Key?

[2016-09-02 04:46] nizam27391 commented on #29
Hi @JoeDawson .. In the Google console, I created the Oauth client ID.

[2016-09-02 08:03] JoeDawson commented on #29
Hi @nizam27391, what happens if you truncate your `youtube_access_tokens` table and authenticate again? Do you receive a refresh token then?

[2016-09-04 14:26] nizam27391 commented on #29
Hi @JoeDawson .. yes..sometimes i received the youtube_access_tokens, but then when i upload new video, the next entry of the youtube_access_tokens is without the refresh token. Then the next video upload, the std::refresh_token occur.

[2016-09-04 14:31] JoeDawson commented on #29
Hi @nizam27391 thanks for your reply.

I can't replicate your issue at all. Every time I have a refresh token - as do a lot of other people who use this package. **What does your code look like for your upload?**

Thanks

[2016-09-07 07:41] agursoy opened #31 "'Google_IO_Exception' with message 'SSL read: error:00000000:lib(0):func(0):reason(0), errno 10053'"
Hi, firstly thank you so much for this great package.
We are using your youtube module in our laravel project.
We deployed laravel to Windows machine and using IIS.
Sometimes in large videos, up to 1GB we're getting this error:

'Google_IO_Exception' with message 'SSL read: error:00000000:lib(0):func(0):reason(0), errno 10053'

I know this issue may not be related to you but maybe you can suggest

[2016-09-07 07:44] JoeDawson commented on #31
Hello @agursoy,

Thank you for using my package - I'm not sure the error is related to the package itself, I just googled quickly and it may be related to the SSL settings on your server.

I found this question on SO: http://stackoverflow.com/questions/3876563/curl-request-is-failing-on-the-ssl

The answer mentions  that to ensure the openssl extension is turned in from your `php.ini` file.

Let m

[2016-09-07 08:25] agursoy commented on #31
You are right, it is probably server-related problem. This problem make us think about; your package is suitable for uploading 1gb+ large files?

[2016-09-07 08:28] JoeDawson commented on #31
Hi,

I should be able to handle larger files. I would definitely recommend using
Queues though to ensure it doesn't time out.

I cannot confirm 100% though as I do not have a 1GB file handy to attempt
an upload.

But I am pretty confident that if you use a queue to handle the upload it
should work fine.

On Wednesday, 7 September 2016, agursoy <notifications@github.com> wrote:

[2016-10-04 22:08] hemega opened #32 "Error to install in Laravel 5.1"
Hi, thanks you for you job :)

The error in laravel 5.1:

![captura de pantalla 2016-10-04 a las 5 02 43 p m](https://cloud.githubusercontent.com/assets/2573650/19094230/b35d41c8-8a54-11e6-8b68-e534b818a92f.png)

How can I install it manually?

Thanks you!

[2016-10-04 22:10] JoeDawson commented on #32
Hey, this package requires Laravel 5.2 at least - you will need to upgrade unfortunately.

[2016-10-05 14:27] hemega commented on #32
I regret not having support for 5.1, an LTS version.  ;)

Thanks!

[2016-11-02 20:37] buzzflow opened #33 "Auth problem"
Hi
When i try to auth with the /youtube/auth url i redirected and i choose my google account but i get this error :

Google_Auth_Exception in OAuth2.php line 126:
Error fetching OAuth2 access token, message: 'invalid_client'

I think Google console api account and api key configuration are ok.

Could you help me please ?

[2016-11-02 20:37] buzzflow commented on #33
in OAuth2.php line 126
at Google_Auth_OAuth2->authenticate('4/sKPQnC_WdAinpQxNYNwlCKbMC9lrPHbYZeXVXZcHdRA', false) in Client.php line 128
at Google_Client->authenticate('4/sKPQnC_WdAinpQxNYNwlCKbMC9lrPHbYZeXVXZcHdRA')
at call_user_func_array(array(object(Google_Client), 'authenticate'), array('4/sKPQnC_WdAinpQxNYNwlCKbMC9lrPHbYZeXVXZcHdRA')) in Youtube.php line 296
at Youtube->__call('authenticate

[2016-11-02 21:02] #33 closed

[2016-11-16 09:05] #32 closed

[2016-11-24 02:16] Abdulhmid commented on #5
i'm still get error like this An access token is required to delete a video.
what your solution

[2016-11-25 16:20] JoeDawson commented on #5
@Abdulhmid can you create a new issue please? In the new issue, can you also show your code?

[2016-11-30 21:31] stojankukrika opened #34 "ErrorException in Youtube.php line 296"
HI,
When I use your script I get this error:
"ErrorException in Youtube.php line 296: call_user_func_array() expects parameter 1 to be a valid callback, class 'Google_Client' does not have a method 'save'"

It update video to youtube(I get email when it finished) but didn't get video ID on my web application. Did you maybe know what is the problem?

This is my code in my controller in laravel:

[2016-12-01 08:46] stojankukrika opened #35 "Why asks user to login with google account to use youtube upload?"
Hi,
I have one question for creator of that great script. I love it!
I use this script to my users can upload video to youtube, but have a some problem with som users who didn't have gmail account and want to use this website. Why ask user to login with google account to use youtube upload when we have app credentials in settings?

[2016-12-02 00:33] galllo opened #36 "upload video with socialite auth"
i have a socialite pacckage to log in with the scope https://www.googleapis.com/auth/youtube.upload i already have all my user information, how can i upload videos?

[2016-12-02 18:09] galllo opened #37 "Call to undefined method Google_Client::setClassConfig()"
FatalThrowableError in Youtube.php line 29: Call to undefined method Google_Client::setClassConfig()

help pleaaase

[2016-12-02 18:18] JoeDawson commented on #36
Currently there's no way to do that.

[2016-12-02 18:18] #36 closed

[2016-12-02 18:19] JoeDawson commented on #37
The `setClassConfig()` method is called on line 25 for this package. Have you altered this file? If so I'm unable to support sorry.

[2016-12-02 18:22] JoeDawson commented on #35
Hey @stojankukrika,

Thanks for using the package.

The authentication routes are used for the initial setup of the package itself, so you would login when you first install the package and then you wouldn't be required to authenticate again as the package handles the tokens for you automatically.

Or are you trying to upload to multiple channels?

[2016-12-02 18:24] JoeDawson commented on #34
Hey @stojankukrika,

The video ID is returned when you call the `getVideoId()` method as you're already doing.

So changing what you currently have;

[code]

`$id` is now the ID of the video on YouTube.

[2016-12-02 18:24] #34 closed

[2016-12-02 18:25] JoeDawson commented on #29
Closing due to inactivity, if you're having issues I urge you to review the documentation again. Thanks for using the package!

[2016-12-02 18:25] #29 closed

[2016-12-02 18:25] JoeDawson commented on #31
Closing due to inactivity, if you're having issues I urge you to review the documentation again. Thanks for using the package!

[2016-12-02 18:25] #31 closed

[2016-12-02 20:44] stojankukrika commented on #34
Sorry, but, what I didn't do right? $video->getVideoId() is not id of videos of my table, it's only youtube_id that have as column in database and show it to client with prev. image of video and know which youtube video id need to get from youtube.

I see that I get that error if internet slows down. Can you tell me how to fix it?

[2016-12-02 20:45] JoeDawson commented on #34
You're trying to set a `youtube_id` property on the `$video` object - why are you trying to do this?

[2016-12-02 20:47] stojankukrika commented on #35
No, I tr to upload only one channel but surprise me when I go to page where upload video and he asks me to login with google account. I don't know do my users need to have it to upload or just first time to me? Because I see that I need to generate token, and visit route that generate ans save token from youtube and get back user to upload video. Is that OK or I missed something?

[2016-12-02 20:49] stojankukrika commented on #34
Because I want to have other data with that video object, like: title, description, date from and date to to shows, user who upload that video in my system, time when it he do it...

[2016-12-02 20:49] JoeDawson commented on #35
Why are you asking users to log in? Only **you** need to log in with account that owns the YouTube channel you're uploading to.

It's up to you how you want users to send you the videos to upload, you don't need to ask them to login to upload...

[2016-12-02 20:51] stojankukrika commented on #35
How to do that? I want to thy didn't need to login to youtube. Only to my system and it's will be the perfect scenario.
I find here where and how to get that token to upload video.
https://github.com/JoeDawson/youtube/blob/master/src/config/routes.php

Do I need to do that? Or how to fix it?

[2016-12-02 20:54] JoeDawson commented on #34
But the `$video` object in this case would not be your model in Laravel. The `$video` object is the uploaded video to YouTube (in the code you provided)

You would do something like this...

[code]

[2016-12-02 20:57] stojankukrika commented on #34
Yes. That is the mine code. But I get this error if internet slows down:
`"ErrorException in Youtube.php line 296: call_user_func_array() expects parameter 1 to be a valid callback, class 'Google_Client' does not have a method 'save'"`

[2016-12-02 20:59] JoeDawson commented on #35
Firstly, your users **should not** be going to the `/youtube/auth` route. This is only for you to authenticate your channel.

In your case, you would want your users to upload the files to your server. Then your application will upload them to YouTube (I recommend using queues for uploads).

If you want users to have an account to upload a video to your application then that's down to you to set u

[2016-12-02 20:59] #35 closed

[2016-12-02 20:59] JoeDawson commented on #34
Can you show me your full code please? You're using the wrong variable somewhere.

[2016-12-02 21:01] stojankukrika commented on #35
Aha. Not I understand! THX bro! You are the best! Thank you!

[2016-12-02 21:02] JoeDawson commented on #35
No problem @stojankukrika thank you for using the package, enjoy!

[2016-12-02 21:04] stojankukrika commented on #34
Sure. Here it is:

[code]

[2016-12-02 21:08] JoeDawson commented on #34
What happens if you `dd($upload)` after an upload?

[code]

[2016-12-02 21:17] stojankukrika commented on #34
Hmmm, now it's OK. I will try when internet slows down to see what it back and paste it here, if it's OK?

[2016-12-06 18:23] galllo commented on #37
im delete all and install again and its works perfect in my local machine tnks

[2016-12-06 18:23] #37 closed

[2016-12-07 18:28] galllo opened #38 "multiple users can upload in the same channel?"
i need multiple users upload videos in the same channel (administrator) its this possible?

[2016-12-07 18:33] JoeDawson commented on #38
Hi,

This is possible, you would have to implement it yourself though.

- Create a dedicated area for administrators to upload videos
- Use Laravel's queues to upload these videos once they're uploaded to your Laravel application

The above is a very vague example, I did this same for one of my projects. Where admins uploaded videos, then they were uploaded to the channel I authenticated with.

[2016-12-07 18:33] #38 closed

[2016-12-13 10:46] goodnesskay opened #39 "Video tutorial"
is there any link to video tutorial for this package?

[2016-12-13 10:47] JoeDawson commented on #39
Hello @goodnesskay there isn't I'm afraid.

[2016-12-13 10:47] #39 closed

[2016-12-13 10:52] goodnesskay commented on #39
@JoeDawson can I get your mail?

[2016-12-15 10:49] jeremygunawan opened #40 "$_GET['code'] is not set."
Hi,
  First I want to say thank you for your awesome code. I using it, but I have a problem with this.

![capture](https://cloud.githubusercontent.com/assets/11392084/21221107/baa814d0-c2ee-11e6-8135-a5b565c66b01.PNG)

Do you have any idea?

Thank you.

[2016-12-18 02:00] dfmurillo opened #41 "Middleware for Auth"
Hi, first of all, thanks for this package is very usefull!. Just one question, how can I add an user auth Middleware for the Youtube Auth without editing the package?

Thanks.

[2016-12-18 02:12] dfmurillo commented on #41
BTW I have already created this functionality in the same way you include the Routes configs, if you allow me to do a push for your evaluation.

[2016-12-18 05:16] Craytor commented on #40
I think you've entered the wrong call back when you went to set this up. Try changing the callback to /youtube/callback in your Google Developer console.

[2017-02-06 12:49] rockyru opened #42 "Undefined method Illuminate\Foundation\Application::share()"
I'm getting this error when publishing

[2017-02-06 12:49] JoeDawson commented on #42
Have you recently upgraded to Laravel 5.4?

[2017-02-06 12:58] rockyru commented on #42
Ah yes! Any issue with 5.4?

[2017-02-06 13:00] JoeDawson commented on #42
Yeah there is an issue with 5.4 at the moment, I need to upgrade my packages to make them compatible with 5.4. The `share()` method was removed and is to be replaced with `singleton()`.

Will try my best to take a look soon.

[2017-02-06 13:01] rockyru commented on #42
I see. Thanks Dawson! Will look forward.

[2017-02-06 14:18] arcanedev-maroc commented on #42
**Fix :** #43

[2017-02-06 19:39] JoeDawson commented on #42
This should now be fixed @rockyru as per #43 - can you try upgrading the package? I have tested uploading and everything appears to be working as expected :)

[2017-02-06 19:39] #42 closed

[2017-02-06 19:40] JoeDawson commented on #41
Hey @dfmurillo,

Sure - if you would like to submit a PR I'd love to take a look!

[2017-02-06 19:40] #41 closed

[2017-02-06 19:41] JoeDawson commented on #40
@jeremygunawan how did you get on with this? I'm assuming that by now you might have figured out why you were getting that.

I'd be happy to reopen if you still need help.

[2017-02-06 19:41] #40 closed

[2017-02-07 00:20] rockyru commented on #42
Hi Joe! Yeah, will do man. Thank you!

[2017-02-07 00:35] rockyru commented on #42
@JoeDawson, I've already tried the updated package. Working fine! Thanks a lot! Also to @arcanedev-maroc thanks man!

[2017-02-20 09:46] ahmedash95 opened #44 "class 'Google_Client' does not have a method 'update'"
Hi @JoeDawson ..

After using upload method I get

[code]

[2017-02-20 11:10] JoeDawson commented on #44
Hey @ahmedash95,

Before I get a chance to test this, are you up to date? v2.0.0 was released recently.

Also, what version of Laravel are you using?

Thanks

[2017-02-20 11:37] ahmedash95 commented on #44
Oh .. I think my mistake is that I'm using laravel 5.3 and the latest release is for 5.4 I downgrade to 1.1.2.

[2017-02-20 11:40] JoeDawson commented on #44
Let me know how how get on, I'll add a note to the readme if it works on 1.1.2 for 5.3 :)

[2017-02-20 11:41] ahmedash95 commented on #44
I will test it at night then tell you

[2017-02-20 11:42] JoeDawson commented on #44
No problem, thanks :)

[2017-02-20 19:34] ahmedash95 commented on #44
@JoeDawson Hi Joe . unfortunately still have the same exception after downgrading .. but it uploads to youtube successfully

[2017-02-20 19:49] ahmedash95 commented on #44
@JoeDawson Sorry .. it's my silly fault .. this is my code
[code]

so the second line I overwrite ```$video``` object from Videos to Youtube and call model update method from $video Youtube Object.

now everything is working with version 2.0.0

[2017-02-20 19:49] #44 closed

[2017-02-20 19:50] JoeDawson commented on #44
Awesome, thanks for confirming @ahmedash95 :)

[2017-02-20 19:51] arcanedev-maroc commented on #44
Hi @ahmedash95,

I don't think there is an `update` method in `Youtube` instance.

If a method doesn't exists in the `Youtube` instance, this one is called: https://github.com/JoeDawson/youtube/blob/master/src/Youtube.php#L310

Hi @JoeDawson:

To solve this, you need to add more checks in the `__call` method:

[code]

[2017-02-20 19:51] ahmedash95 commented on #44
@JoeDawson weclome .. and thanks for your interesting

[2017-02-20 19:53] ahmedash95 commented on #44
Hi @arcanedev-maroc , thanks for your clarifying .. what makes me confused is it tells me there is no update method at Google_Client class .. so i started debugging where is Google_Client class .. then I started review my code from first.

Thanks again

[2017-02-20 19:54] arcanedev-maroc commented on #44
@ahmedash95, Do you have something like `Youtube::update(...)` in your code ??

[2017-02-20 19:56] ahmedash95 commented on #44
@arcanedev-maroc Here is my mistake https://github.com/JoeDawson/youtube/issues/44#issuecomment-281167411

[2017-02-20 19:56] JoeDawson commented on #44
@arcanedev-maroc he's already solved this, he used the `$video` variable twice here - https://github.com/JoeDawson/youtube/issues/44#issuecomment-281167411

[2017-02-20 19:58] arcanedev-maroc commented on #44
I didn't see that, glad you solved the issue.

[2017-03-01 10:12] ntrung206 opened #45 "An access token is required to delete a video."
Exception in Youtube.php line 288:
An access token is required to delete a video.

I got an error when upload file.
How to solve it?
I don't know how to add token for it!

[2017-03-01 11:44] JoeDawson commented on #45
Hi,

Have you followed the readme? https://github.com/JoeDawson/youtube/blob/master/README.md

[2017-03-01 12:08] sonalmhatre opened #46 "Non-static method Dawson\Youtube\Youtube::upload()"
I got an error when upload a file.
Please tell me how to save access_token to database
I don't know how to add token for it!

[2017-03-01 12:15] JoeDawson commented on #46
The package handles this for you, can you please read through the readme and ensure you have followed everything.

The initial setup is a bit tedious, but after that everything should work fine.

What have you done so far?

[2017-03-02 02:44] ntrung206 commented on #45
1. Yes, I created an application on Google and get Client ID, Client secret to updated to .env config file.
2. In table youtube_access_tokens are empty.

[2017-03-02 05:14] sonalmhatre commented on #46
I follow  the authentication steps as given
but i don't know how to store access_token to database.
please help me

On Wed, Mar 1, 2017 at 5:45 PM, Joe Dawson <notifications@github.com> wrote:

[2017-03-02 09:43] JoeDawson commented on #46
Did you solve this then?

[2017-03-02 09:52] sonalmhatre commented on #46
No its not working.
''Now your application is configured, we'll go through the inital
authentication with Google. By default, the authorization route is
/youtube/auth. Simply visit this URI in your application and you will be
redirect to Google to authenticate your YouTube account.''
this step is not working.i don't know how to perform this step.
thanks for reply

On Thu, Mar 2, 2017 at 3:13 PM, J

[2017-03-02 10:00] JoeDawson commented on #46
What is your local development URL?

For example, if my project is installed locally and the URL is `http://laravel.dev` I'd visit `http://laravel.dev/youtube/auth`.

Nothing will work until you've done this.

[2017-03-02 10:04] sonalmhatre commented on #46
http://localhost:8081/youtube/auth this is my project url but after hitting
this
show  Call to undefined method Dawson\Youtube\Youtube::createAuthUrl() this
error.

On Thu, Mar 2, 2017 at 3:30 PM, Joe Dawson <notifications@github.com> wrote:

[2017-03-02 10:15] JoeDawson commented on #46
Have you registered the service provider?

https://github.com/JoeDawson/youtube#installation

[2017-03-02 10:17] JoeDawson commented on #45
You need to visit your Google console and add your URL as the callback (localhost).

Then in your app, visit http://localhost:8000/youtube/auth - you will be redirected to Google and will be asked to log in. This is when you get a token.

[2017-03-02 10:19] sonalmhatre commented on #46
yes

[2017-03-02 10:19] JoeDawson commented on #46
I really don't know why this is happening, I can't replicate it. Someone else mentioned it in #19 but didn't respond.

[2017-03-02 10:25] JoeDawson commented on #46
Can you maybe try and use something like Homestead or Valet to use a custom domain like `laravel.dev`?

[2017-03-02 10:46] sonalmhatre commented on #46
its working now access_token was saved into database but when i upload video
show this one error 'Non-static method Dawson\Youtube\Youtube::upload() should not be called statically, assuming $this from incompatible context'
thank you for helping me

[2017-03-02 10:48] JoeDawson commented on #46
Great, could you show your code for your upload please?

Thanks

[2017-03-02 11:04] sonalmhatre commented on #46
$videopath = 'D:\TOP 10 FREE Outro Templates - Sony Vegas & Adobe After Effect.mp4';
  $video = Youtube::upload($videopath , [
  'title'       => 'My Awesome Video',
   'description' => 'You can also specify your video description here.',
   'tags'        => ['foo', 'bar', 'baz'],
    'category_id' => 10
     ]);
 return $video->getVideoId(); this is uploading code
is anything wrong in this code??

[2017-03-03 09:19] JoeDawson commented on #46
Do you also have `use YouTube` to import?

[2017-03-03 10:21] sonalmhatre commented on #46
My code is now working correctly....thanks a lot

[2017-03-03 10:21] #46 closed

[2017-03-06 08:54] sonalmhatre opened #48 "Not getting realpath of uploading video"
Due to security reason, not getting realpath of uploading video file.
Please suggest me, is this possible to get realpath of video.
Thank you.

[2017-03-07 05:37] samswap opened #49 "Not getting realpath of uploading video"
Due to browser security reason, not getting realpath of uploading video file.
Please suggest me, is this possible to get realpath of  video.
or  any other way to get path of video from input file.please help me.
Thank you.

[2017-03-07 09:50] kvijay0007 commented on #49
Hi Joe,

I am also getting the same problem.

The package is working fine. Now I want to pass the video file path to the controller.
The browsers are restricting me to get the real path.

Any way by which I can get the real path of the video in the controller.

Your valuable input will be extremely helpful.
Thank you

[2017-03-07 11:08] kvijay0007 commented on #49
Hi Joe,

Problem Solved.

Thanx..

[2017-03-09 03:03] hilmansakti opened #50 "how to build an upload controller?"
hi, I'm currently making website for my final project, but I'm new on web development and i'm really confused with this package.

I have followed your steps, and I've got the access_token in my youtube_access_tokens table.

can you give me detailed explanation about how to pass the full path to my video that I wish to upload?

hopefully you can give me an example too

thanks,

[2017-03-09 13:44] sonalmhatre opened #51 "Thumbnail method is not working"
I want to add custom thumbnail to youtube video.
My code is like this

[code]

but its not working
please tell me what is the problem in this code.
thank you.

[2017-03-09 14:04] JoeDawson commented on #51
Can you please be more explicit with what's "not working"? Are you seeing an error?

I've also formatted your code, if you could ensure that it's formatted correctly that would be appreciated.

[2017-03-09 14:06] JoeDawson commented on #49
You can use something like Laravel's `storage_path()` or `public_path()` to get the full paths.

https://laravel.com/docs/master/helpers#method-public-path
https://laravel.com/docs/master/helpers#method-storage-path

[2017-03-09 14:06] #49 closed

[2017-03-09 14:06] JoeDawson commented on #45
Did you solve this?

[2017-03-10 05:08] sonalmhatre commented on #51
Error calling PUT
https://www.googleapis.com/upload/youtube/v3/thumbnails/set?videoId=3uEVcDxG4xY&uploadType=resumable&upload_id=AEnB2Uqw9D0Eqf03VCHYSiACn3hBxcP1di4SoJKTP0GAQ9aEBijILLuv9natx24kwtcIFHxz5t5v_cH2DAKcEB62rq12rqSSyw:
(403) The authenticated user doesnt have permissions to upload and set
custom video thumbnails.
show like this error when i set thumbnail to video

On Thu, Mar 9, 2017 at

[2017-03-10 10:00] JoeDawson commented on #51
There's not a problem with the package, the user account you have authenticated with does not have access to using custom thumbnails.

This page will show you what features are enabled/disable in the account. https://www.youtube.com/features

[2017-03-10 10:00] #51 closed

[2017-03-10 10:01] JoeDawson commented on #50
Hey @hilmansakti,

What have you tried?

[2017-03-17 14:08] hilmansakti commented on #50
sorry for late reply...

I tried to upload a video to my database and it's worked. But my lecture asked me to connect it with a youtube channel. then I got your package and feel confused to use it.

I have installed your package, following your Configuration step by step. and stopped in "Upload a Video".

would you like to give me some advice? or modify my code?

this is my controller
`public func

[2017-03-20 03:33] rockyru commented on #50
Hi @hilmansakti , have you read the documentation?

[2017-03-24 03:37] hilmansakti commented on #50
hi @rockyru and @JoeDawson ,

I got this error

filesize(): stat failed for uploads/videos/2017-03-24_8CbqJ.mp4

and this is my controller :

`public function store(Request $request)
    {
        $this->validate($request, [
            'title' => 'required',
            'description' => 'required',
        ]);`

           if (Input::hasFile('file')) {
            $rules['file'] = 'mimes:mp4,ogg,

[2017-03-24 03:43] rockyru commented on #50
Hello @hilmansakti , have you verified your youtube account that you can upload videos longer than 15 mins?
Question : What's the file size of the video?

[2017-03-24 03:47] hilmansakti commented on #50
@rockyru , the file size is 5.9 mb

[2017-03-24 10:00] hilmansakti commented on #50
Hello @rockyru @JoeDawson , thank you so much. it's work

[2017-03-24 11:35] rockyru commented on #50
How'd you make it?

[2017-03-24 11:36] rockyru commented on #50
What did you do? @hilmansakti

[2017-03-29 15:29] JoeDawson commented on #50
Thanks @rockyru for your help, glad you managed to upload @hilmansakti. Feel free to leave your solution here for other users when you get a chance.

[2017-03-29 15:29] #50 closed

[2017-03-29 15:30] JoeDawson commented on #45
Closing due to inactivity.

[2017-03-29 15:30] #45 closed

[2017-04-06 05:05] ntrung206 commented on #45
Sorry, I have just back this issue.
Still not solve
Got new error!
Whoops, looks like something went wrong.
I'm trying to debug, the seems error by getAccessToken of client.
`$accessToken = $this->client->getAccessToken();` is null

[2017-05-05 11:39] capellidev opened #52 "Failed to start the resumable upload (HTTP 401: youtube.header, Unauthorized)"
hi @JoeDawson ,

I got the error posted below while uploading video, can you please help me to find out what is wrong?

![screen shot 2017-05-05 at 5 08 31 pm](https://cloud.githubusercontent.com/assets/9278749/25744082/93243002-31b5-11e7-9bf4-7cf2563c0272.png)

[2017-05-05 11:41] JoeDawson commented on #52
Could you try moving your upload into a queue?

[2017-05-05 11:42] capellidev commented on #52
yah, but the requirement of my project is of synced process.

[2017-05-05 11:44] JoeDawson commented on #52
Unfortunately this will happen with the sync queue driver when uploading, if the file is too big (in most cases anyway) it will throw this error. You really need to offload it to a queue.

[2017-05-05 11:58] capellidev commented on #52
ok. so what is the minimum size allowed in synced mode ?

[2017-05-05 12:00] JoeDawson commented on #52
I'm not 100% as it's how Google handles the chunks, how big is the file you're trying to upload?

[2017-05-05 12:35] capellidev commented on #52
hi @JoeDawson ,
the problem is of the youtube channel. I have created a new channel in youtube and then I tried to upload a video and it's uploaded successfully.

thanks for your quick response! 👍

[2017-05-05 12:35] #52 closed

[2017-05-05 12:36] JoeDawson commented on #52
Oh awesome, glad you solved it - thanks!

[2017-05-07 14:25] stojankukrika opened #53 "How to change return url after authentication and get token from youtube"
I find in the documentation:
"Assuming you were not presented with any errors during authentication, you will be redirected back to your application root. (/)."
Can that change to go to route where is placed form to upload video, other route that is not root?

[2017-05-08 12:02] vishalmandora commented on #26
Once I've go through steps you given in this library.
**{ host }/youtube/auth**

This URL redirects to login page. & after successfully login with required permission. I'm able to upload video till 1 hour. then after it doesn't work.

Please reply asps.

Thanks in advance.

[2017-05-08 12:14] JoeDawson commented on #26
Please delete all tokens in the database and re-authenticate.

[2017-05-08 13:01] vishalmandora commented on #26
All tokens removed from database & after that i've again followed same step.
**{ host }/youtube/auth**
and received
{
  "access_token": "{Access_Token}",
  "expires_in": 3598,
  "token_type": "Bearer",
  "created": 1494248251
}

But this will also expiry in next 60 minutes. So, what should i do now.

[2017-05-08 13:19] JoeDawson commented on #26
Something isn't set up correctly, you should have:

[code]

Notice `refresh_token`? Try this: http://stackoverflow.com/a/10857806

[2017-05-09 04:06] vishalmandora commented on #26
After following your suggested steps on following URL http://stackoverflow.com/a/10857806
I've received following thing in database
[code]
What's next ? I mean after 3600 seconds.

[2017-05-09 06:38] JoeDawson commented on #26
Nothing, it will automatically get a new token since you have a refresh
token now.

On Tue, 9 May 2017 at 05:06, Vishal Mandora <notifications@github.com>
wrote:

[2017-05-09 07:04] vishalmandora commented on #26
Thanks a lot @JoeDawson . Everything works fine. as per my expectation.

Thanks Again.

[2017-05-17 06:56] Feniksss commented on #15
@JoeDawson hi Joe. I have a similar problem.
My access token after $accessToken = $this->client->getAccessToken();

object(stdClass)#561 (4) {
  ["access_token"]=>
  string(131) ""
  ["expires_in"]=>
  int(3600)
  ["token_type"]=>
  string(6) "Bearer"
  ["created"]=>
  int(1494954227)
}

[2017-05-17 13:40] alejandrofloresm commented on #53
Is not part of the configs but you can do it manually on this file `<path_to_your_project>/vendor/dawson/youtube/routes/web.php` on
[code]

[2017-05-17 20:41] stojankukrika commented on #53
Ok. TNX. I made a pull request for that to be in config.

[2017-05-17 20:41] #53 closed

[2017-05-25 23:30] Craytor opened #55 "Issue on upload"
Greetings,

I seem to be getting the following issue when I try to upload a video to YouTube - it doesn't happen every time, but it happens often enough that I need to try to see if I can find a work around.

[code]

I'm uploading my video like so:
[code]

Am I able to do exception handling with the Youtube class? Possibly a try and catch, and if I can catch it just have it try the upload again?

[2017-05-26 21:20] Craytor commented on #55
Sorry to bother you @JoeDawson!!

I'm really trying to figure this bug out. I've had this issue for the past 4-5 months, and the worse part is unpredictability of it.

I just go the issue again earlier today.

Please let me know if you need any additional information!

[2017-05-26 21:53] JoeDawson commented on #55
Hi Tyler,

I assume you have Googled this? That error is being thrown by Google but
I've not seen that before and can't research right now as I'm only on my
mobile.

I'm not sure how you can catch the error, I honestly haven't used this
package in quite some time and it is in need of some care but I really
don't have the time at the moment to sit down and work through it.

As I said though, I don'

[2017-06-09 10:13] vkanakam commented on #55
Hi tyler,
Is that resolved. ?

[2017-06-23 06:23] savanihd opened #56 "An access token is required to delete a video. - Laravel 5.4"
I installed successfully package and also set GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET, But when i tried to run with http://localhost:8000/, i got following error -
 (1/1) Exception
An access token is required to delete a video.

Can you help me what i have to do and why i am getting this error ?

[2017-06-25 08:45] aios opened #57 "Update google/apiclient"
@JoeDawson Needs update google analitycs package - and it requires google/apiclient newest version of requirements your package. How can resolve that?

[2017-07-04 02:21] jubairsaidi opened #58 "Multi Channel Support"
So I need to get multi channel support working (client has multiple channels they manage), any ideas?  (short of rolling my own package, which I'd rather not do).

[2017-07-05 09:47] tijanmdr opened #59 "Does not publish config file"
While publishing `youtube.php`, using

`php artisan vendor:publish --provider="Dawson\Youtube\YoutubeServiceProvider"`

doesn't publish nothing. No changes

[2017-07-05 10:05] JoeDawson commented on #59
What output do you get?

[2017-07-06 07:47] JoeDawson commented on #58
It's not possible right now, it would be nice for this package to support multiple channels. I started looking into rewriting this package ahead of the Laravel 5.5 release - if I have time I'll try and implement this.

I can't promise anything though.

[2017-07-06 07:47] #58 closed

[2017-07-06 07:50] JoeDawson commented on #57
Hey @aios,

I'm currently looking into rewriting this package ahead of the Laravel 5.5 release. `google/apiclient` will be updated to `^2.1` with this.

[2017-07-06 07:50] #57 closed

[2017-07-07 08:24] JoeDawson commented on #56
Hello @savanihd,

Thank you for your patience.

Have you authenticated your channel?

If left as default, you should be able to visit http://localhost:8000/youtube/auth and be asked to authenticate your YouTube channel you would like to upload to.

[2017-07-08 14:13] JoeDawson commented on #56
Hi @savanihd,

Could you please try the new `3.0.0` release please?

There have been various improvements.

[2017-07-08 14:31] JoeDawson commented on #57
Hey @aios,

This package has now been updated to use `google/apiclient@^2.1`.

[2017-07-08 16:02] rayan8989 opened #60 "Can't install " carbon/carbon ^1.22 -> no matching package found.""
Hi,
I'm trying to install your package but when I run
`composer require dawson/youtube`
I've the following errors:
[code]
I read all about this and I try to change "minimum-stability": "dev" and other things but never work.
I also see I've "nesbot/carbon" version and not "carbon/carbon".

[2017-07-08 16:05] JoeDawson commented on #60
Hi @rayan8989,

Sorry about that. Can you try now for me please? `3.0.1` is now released.

[2017-07-08 16:51] rayan8989 commented on #60
thank you! Now that composer.json is update to "nesbot/carbon" work!!!!

[2017-07-08 16:52] JoeDawson commented on #60
Brilliant! Glad that worked 😊

On Sat, 8 Jul 2017 at 17:51, rayan8989 <notifications@github.com> wrote:

[2017-07-08 17:14] #60 closed

[2017-07-12 20:16] jimmyt2003 commented on #57
i still get
Call to undefined method Google_Client::setClassConfig()

[2017-07-12 20:25] JoeDawson commented on #57
@jimmyt2003 are you on the latest version? What version of Laravel are you using?

[2017-07-13 08:52] jimmyt2003 commented on #57
version 3.0.1 and laravel 5.4

seems to not like the line
[code]
if i comment it out it gets to the google auth then errors again. Maybe it is something I am doing wrong i have used this library in the past about a year ago without issue. I will try uninstall everything and try again
Thanks!

[2017-07-13 10:08] JoeDawson commented on #57
Thanks @jimmyt2003 let me know how you get on.

I did a lot of testing over the weekend with 5.4 and the latest and for the most part everything went smoothly.

Look forward to hearing from you!

[2017-07-16 21:37] jimmyt2003 commented on #57
when I downgrade to 2.0.1 it works ok but on anything higher i still just get
[code]

[2017-07-19 10:59] malik-umair opened #61 "Getting filesize(): stat failed isse while upoading video on youtube"
Hi, I've followed your entire guide to setup this package but when i try to upload video, following error came up.

    filesize(): stat failed for http://localhost/youtubelaravel/public/test.mp4

Following is my code:

    use Dawson\Youtube\Facades\Youtube as Youtube;

      public function index() {
        $fullPathToVideo = asset('') . 'test.mp4';
        $video = Youtube::upload($fullPathToV

[2017-07-19 15:42] JoeDawson commented on #61
Hi @malik-umair,

It looks like the path you're passing is not the correct path to the video.

[code]

You could try using the `public_path()` helper.

[code]

[2017-07-19 15:50] m1guelpf commented on #59
@tijanmdr Try this:
[code]

[2017-07-19 15:51] #61 closed

[2017-07-22 01:41] Sebastiangperez opened #62 "Getting Call to undefined method Google_Client::setClassConfig()"
Im pointing to http://mydomain.dev/youtube/auth
and im getting this :

Laravel Version : **Laravel Framework 5.4.30**
Im doing something wrong ?
Thanks

[2017-07-22 13:16] sourabhdevera18 opened #63 "video is not upload"
Exception in Youtube.php line 288:
An access token is required to delete a video.

[code]

i am getting this error

[2017-07-22 13:17] JoeDawson commented on #62
Are you trying to authenticate with Google?

[2017-07-22 13:18] JoeDawson commented on #63
Please go into your database, delete all tokens from the `youtube_access_tokens` table and authenticate again.

[2017-07-22 13:31] Sebastiangperez commented on #62
Yes , i just comment that line on your class and now do the auth with google , but now when makes the callback , i got another error.
**json_decode() expects parameter 1 to be string, array given**
Seems that the return is an array.
If you need more information so you can tested in my env, i will tell you.
my PHp version is 7.1.4

[2017-07-23 05:17] sourabhdevera18 commented on #63
Hi JoeDawson thankyou very much for quickreply.
but there is no token in my table.can you please guide me how to authenticate?

[2017-07-23 09:30] JoeDawson commented on #63
Please read the README

On Sun, 23 Jul 2017 at 06:17, sourabhdevera18 <notifications@github.com>
wrote:

[2017-07-23 17:07] sourabhdevera18 commented on #63
Hi,
      I am unable to understand authenticate process.can you please help me out

[2017-07-23 17:08] JoeDawson commented on #63
Have you published the `youtube.php` config?

[2017-07-23 19:43] Sebastiangperez commented on #62
Again , im doing Json_encode over the returning accesToken variable , did you test this package?
I can make it work , i mean, im doing something wrong with my credentials ?
I can get my refresh_token when you are doing in line 313 on Youtube.php class
if($this->client->isAccessTokenExpired())
ask me for expire_in index ...

Thanks.

[2017-07-23 20:05] JoeDawson commented on #62
Of course it was tested. If you're not getting a refresh token there is a problem with your Google account. Check you can actually upload a video to YouTube here: https://www.youtube.com/features

[2017-07-23 20:21] Sebastiangperez commented on #62
Ok, the problem is not the upload, i followed your steps from A to B

First error that im get is this when im pointing to /youtube/auth

Call to undefined method Google_Client::setClassConfig()

i comment this line in Youtube and now works. ask me for permissions and but when makes the callback.
this happened :
json_decode() expects parameter 1 to be string, array given
so , i dont know if is a bu

[2017-07-23 20:49] JoeDawson commented on #62
Firstly, you don't want to comment out anything. You should avoid doing
this with any package, not just this one.

Do you know what type of Database you're using?

On Sun, 23 Jul 2017 at 21:21, Sebastiangperez <notifications@github.com>
wrote:

[2017-07-23 20:59] Sebastiangperez commented on #62
i don't undestand why my database server is relevant to this error?
Im using MariaDB 10.1.24-MariaDB - MariaDB Server

[2017-07-23 21:27] Sebastiangperez commented on #62
are you tring to insert the entire accessToken array in a field ?

[2017-07-23 21:36] Sebastiangperez commented on #62
I just fund the problem dude here in my pc ..
When you tring to make an insert to the database , i need to make a json_decode to the $accessToken

[code]

[2017-07-24 03:02] sourabhdevera18 commented on #63
Yes I published

[2017-07-24 05:10] sourabhdevera18 commented on #63
Hi JoeDawson there is new issue

ErrorException in Youtube.php line 140:
filesize(): stat failed for http://XXX.XXXX.XXX/public/uploads/small.mp4

[2017-07-24 06:14] JoeDawson commented on #63
How are you passing the file to the upload method?

On Mon, 24 Jul 2017 at 06:10, sourabhdevera18 <notifications@github.com>
wrote:

[2017-07-24 07:27] JoeDawson commented on #63
You need to provide the full path to the file on the disk, use the `public_path()` helper.

[code]

[2017-07-24 08:31] sourabhdevera18 commented on #63
there is new problem is that upload show 0% on youtube but i am getting video id in response

[2017-07-24 08:32] JoeDawson commented on #63
Uploaded 0% or Processed 0%?

[2017-07-24 08:33] sourabhdevera18 commented on #63
![screenshot_2017-07-24_11-20-06](https://user-images.githubusercontent.com/30370669/28514765-daf32328-7078-11e7-8dd5-d5beff991ce9.png)

[2017-07-24 08:34] sourabhdevera18 commented on #63
and another problem is that after few hours:-
ErrorException in Youtube.php line 293:
Undefined property: stdClass::$refresh_token

[2017-07-24 08:41] JoeDawson commented on #63
Ok, please see the README.

https://github.com/JoeDawson/youtube#authentication

It's important that before you begin uploading a video, that you have confirmed that you have a `refresh_token` in your database and is very clear in the documentation.

1. Delete all of your tokens in the `youtube_access_tokens` table.
2. Enable routes in `youtube.php`
3. Re-authenticate with Google
4. Check your `yo

[2017-07-24 08:42] JoeDawson commented on #63
It's important you read the documentation, it's stated that you should not proceed before checking you have the correct token.

[2017-07-24 08:42] JoeDawson commented on #62
Ok, I'll take a look at this as soon as possible. The problem is, there are a lot of people already using this perfectly fine and I haven't had this issue in testing so would need to debug.

[2017-07-24 08:48] sourabhdevera18 commented on #63
Hi JoeDawson thanks for quick reply but i am still not getting refresh token in my table.

[2017-07-24 08:50] JoeDawson commented on #63
Ok, go to the following URL: https://security.google.com/settings/security/permissions

Remove your Google application, and repeat the steps above.

[2017-07-24 08:53] sourabhdevera18 commented on #63
How to Disable authentication routes in config/youtube.php?

[2017-07-24 08:54] JoeDawson commented on #63
Set this option to `false`.

https://github.com/JoeDawson/youtube/blob/master/config/youtube.php#L43

[2017-07-24 13:25] Sebastiangperez commented on #62
I have to do something as well in this line in the **handleAccessToken** method :
[code]
i have to encode and decode the accessToken .
What database engine are you using ? are you casting some returns ? version of Php ?
maybe i can make a virtual enviroment and help you with this , im not a genius but , we can figure out whats is happend ( maybe google is fucking with us ).
Thanks.

[2017-07-24 14:07] sourabhdevera18 commented on #63
Thank you very much JoeDawson ...
Really Appreciate your work .. finally i done.

[2017-07-24 14:08] JoeDawson commented on #63
Awesome, you have a refresh token now? And uploads are successful?

[2017-07-24 14:11] sourabhdevera18 commented on #63
yes Everything fine ..one suggestion for you create step by step documentation.or i will send you it is good for beginner level.Thanks again

[2017-07-24 14:12] JoeDawson commented on #63
Brilliant. I've been making a video tutorial, which will eventually be added to the documentation :).

[2017-07-24 14:12] #63 closed

[2017-07-26 08:50] umairm638 opened #64 "Can we get thumbnail of video from youtube?"
Instead of uploading video thumbnail our self, can we get thumbnails of video uploaded on youtube? As sometime user don't have specific thumbnail of video so in that case if we can ask youtube to generate and give us the link of that thumbnail? Any help regarding this will be appreciated, thanks!

[2017-07-26 08:52] JoeDawson commented on #64
I'll need to look into this. I think this might not be possible as I think YouTube creates the thumbnails after/during the processing of the upload.

I may be wrong, but will need to look into this.

[2017-07-26 09:00] umairm638 commented on #64
@JoeDawson yes you are right that youtube creates thumbnail after processing. but we have video id and if we can use video id after processing to get thumbnails created.

I'm also searching it. Thanks for your quick response and help.

[2017-07-26 09:00] JoeDawson commented on #64
You could try using this package to get the thumbnails after the upload :)

https://github.com/alaouy/Youtube

[2017-07-26 09:02] umairm638 commented on #64
Thanks. Trying it and will inform you if it works,

[2017-07-26 09:26] umairm638 commented on #64
@JoeDawson I'm getting following error on Youtube.php (line 42)

    Google API key is Required, please visit https://console.developers.google.com/

I've already given GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET for your library so where do i find this key?

And also this library create YouTube.php in config folder so will it create any issue/conflict with your library?

[2017-07-26 09:29] JoeDawson commented on #64
Sounds like there's a conflict. Do you have this?

[code]

If so, they're the same - therefore are conflicting.

Change this:

[code]

To this:

[code]

Then you can use all of the https://github.com/alaouy/Youtube methods with `YoutubeInfo` instead of `Youtube` (for uploading).

[2017-07-26 09:31] umairm638 commented on #64
Changed it but still getting API key required issue. What about /config/youtube.php file?

[2017-07-26 09:32] JoeDawson commented on #64
Hmm, I just took a look at https://github.com/alaouy/Youtube again. We both use the same filename for the config (`config/youtube.php`).

With your existing `youtube.php` file, add a new key for the alaouy/Youtube package.

[code]

[2017-07-26 09:33] JoeDawson commented on #64
Sounds like you also want to create an API key on the Google Developer Console to use with this too.

[2017-07-26 09:33] umairm638 commented on #64
which key i've to give here? GOOGLE_CLIENT_ID?

[2017-07-26 09:36] umairm638 commented on #64
you are talking about this key? http://prntscr.com/g0fv14

I've given that in 'key' => 'api key here', but nothing changed.

[2017-07-26 09:36] JoeDawson commented on #64
I think this is an individual API key, you can create one by visiting here: https://console.developers.google.com/apis/credentials

Then create a new API key.

![screen shot 2017-07-26 at 10 35 50](https://user-images.githubusercontent.com/1009696/28614616-569183dc-71ee-11e7-9073-e1b5520b3242.jpg)

[2017-07-26 09:37] JoeDawson commented on #64
Is that the correct project?

[2017-07-26 09:42] jimmyt2003 commented on #62
I also had to do the same as above to get it to work

[2017-07-26 09:42] umairm638 commented on #64
yes it's correct project. I'm using it's OAuth 2.0 client IDs for your library  and trying to use API keys but didn't work.

Error is coming on youtube.php line # 42. And this line says:

    'developer_key' => env('GOOGLE_DEVELOPER_KEY', null),

added it in env file too:

    GOOGLE_DEVELOPER_KEY=AIzaSyDfW91-xxxxxxxxxx

[2017-07-26 09:44] JoeDawson commented on #64
The error you're talking about isn't from this package though, it's from here:

https://github.com/alaouy/Youtube/blob/master/src/Youtube.php#L43

[2017-07-26 09:48] JoeDawson commented on #62
I'm not entirely sure if I'm honest. I'm also on PHP 7.1 too which is weird.

I'll look the the encoding/decoding of the token later if I get a chance.

[2017-07-26 09:49] JoeDawson commented on #59
Closing due to inactivity. Respond if you're still experiencing an issue and I'll re-open if necessary.

[2017-07-26 09:49] #59 closed

[2017-07-26 09:56] JoeDawson commented on #64
Could you show me your `config/youtube.php` file?

[2017-07-26 09:57] umairm638 commented on #64
Here it is:

    return [

    /**
     * Application Name.
     */
    'application_name' => 'Your Application',

    /**
     * Client ID.
     */
    'client_id' => env('GOOGLE_CLIENT_ID', null),

    /**
     * Client Secret.
     */
    'client_secret' => env('GOOGLE_CLIENT_SECRET', null),

    /**
     * Access Type
     */
    'access_type' => 'offline',

    /**
     * Approval Prompt

[2017-07-26 10:02] JoeDawson commented on #64
Ok, as the error says for https://github.com/alaouy/Youtube - an API key is required. I can't see that on your config?

As the `alaouy/Youtube` package is looking for a `key` in `config/youtube.php`.

Add in after `developer_key` or something.

[code]

[2017-07-26 10:04] JoeDawson commented on #64
Also closing as thumbnails are not supported with this package, but still happy to assist you with setting up `alaouy/Youtube` :)

[2017-07-26 10:04] #64 closed

[2017-07-26 10:05] JoeDawson commented on #55
Closing due to inactivity.

There has been a new release since this issue was reported, so please give that a go. If the issue still persists please respond and I will re-open is necessary. But I don't believe this is related to this package either way.

[2017-07-26 10:05] #55 closed

[2017-07-26 10:06] JoeDawson commented on #56
Closing due to inactivity. Feel free to respond if you are still experiencing this issue and I will re-open if necessary.

[2017-07-26 10:06] #56 closed

[2017-07-26 10:17] umairm638 commented on #64
I've tried that too just like you said but nothing changed. If you hardcode key in constructor then it don't give this error (another SSL error is thrown which i guess has some other issue). Anyhow thanks for your time and help it put on right path :)

[2017-07-26 11:11] Sebastiangperez commented on #62
I have the same version , php 7.1.4.

[2017-07-26 14:50] 3ngin opened #65 "requirements could not be resolved"
Hello,

When I run `composer require dawson/youtube `, it gives below error message. I already use                       "google/apiclient": "^2.0", in my project. My Laravel version is 5.4.

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - dawson/youtube v2.0.0 requires google/apiclient 1.1.* -> satisfiable by google/apiclient[1.1.1, 1.1.2, 1.1.3, 1.1.

[2017-07-26 15:00] JoeDawson commented on #65
This package requires `google/apiclient@^2.1`, what version of `dawson/youtube` are you trying to install?

`3.0.1` is the latest.

[2017-07-26 15:18] 3ngin commented on #65
I'm using php 5.6.3 and my main project's composer.json is as below`,  and dawson/youtube` gotta be latest as I'm grabbing fresh.

{
    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],
    "license": "MIT",
    "type": "project",
    "require": {
        "php": ">=5.6.4",
        "adldap2/adldap2-laravel": "^3.0",
        "google/ap

[2017-07-26 15:19] JoeDawson commented on #65
The latest release of this package requires PHP 7.0, sorry.

[2017-07-26 15:19] #65 closed

[2017-07-29 09:31] Nublust commented on #62
Having the same issue here.

Had a quick look into the Google repo, it seems the Google_Client::setClassConfig() method was removed from Client.php in verison 2.

V.1.1.8
https://github.com/google/google-api-php-client/blob/v1.1.8/src/Google/Client.php#L681
V2.2.0
https://github.com/google/google-api-php-client/blob/v2.2.0/src/Google/Client.php

And you're calling it here:
https://github.com/JoeDa

[2017-08-01 13:20] 3ngin commented on #62
I had the same problem

[2017-08-01 13:30] JoeDawson commented on #62
Hi guys, could you try now for me with the new release? https://github.com/JoeDawson/youtube/releases/tag/3.0.3

[2017-08-01 13:33] JoeDawson commented on #62
During testing I didn't have any issues, but there may have been a problem my end where `google/apiclient` wasn't upgraded to `2.1` and I was still on an old version `1.1` that was working.

I've gone back to `1.1` where the `setClassConfig` method is present a short term fix and will need to look at how to use `2.1` at a late date.

[2017-08-01 13:59] 3ngin commented on #62
Problem 1
    - dawson/youtube 3.0.2 requires google/apiclient ^2.1 -> satisfiable by google/apiclient[2.x-dev, v2.1.0, v2.1.1, v2.1.2, v2.1.3, v2.2.0] but these conflict with your requirements or minimum-stability.

[2017-08-01 14:00] JoeDawson commented on #62
Are you using the latest? https://github.com/JoeDawson/youtube/blob/master/composer.json#L14

[2017-08-01 16:23] Sebastiangperez commented on #62
What about the json_encode / json_decode issue using the access_token variable ?

[2017-08-01 17:49] JoeDawson commented on #62
I will try and look as soon as possible, but if you would like to submit a PR I'd be happy to check it out.

[2017-08-01 17:50] JoeDawson commented on #62
Hoping to solve the `setClassConfig` issue first since that has been reported multiple times recently.

[2017-08-02 07:00] 3ngin commented on #62
I am stucked in my project  I am waiting for your solution.

[2017-08-02 08:52] 3ngin commented on #62
It worked

I tracked the following steps;

Stage 1
you’ll need to comment out the following line
vendor>dawson>youtube>src>Youtube.php
Line 294
 **//**$client->setClassConfig('Google_Http_Request', 'disable_gzip', true);

Stage 2

vendor>dawson>youtube>src>Youtube.php
Line 309

**old code**
public function saveAccessTokenToDB($accessToken)
    {
        return DB::table('youtube_access_tokens')->i

[2017-08-02 13:29] Sebastiangperez commented on #62
@3ngin  How do you got the $accessToken variable saved into the database ?

[2017-08-03 06:35] 3ngin commented on #62
I convert the array from to json;

{"access_token":"ya29.GlybBF5SAfAsYpNSeYETQxEL29bTLgb3ymLrE2V_aoxuzTXMvDKrBZwXXFKtt2rwsts_9hPFvMLUH3h3PPs9QByKrGxTHhczqHXJxe1h-GPjecS4YoU9-XXXXXXXXX","token_type":"Bearer","expires_in":3600,"created":1501678473}

----

**When I produce a new token, I convert it to json**
 **$accessToken = json_encode($accessToken);**

public function handleAccessToken()
    {

[2017-08-03 12:32] Sebastiangperez commented on #62
@3ngin I did the same

[2017-08-03 14:13] 3ngin commented on #62
@Sebastiangperez , does it work

[2017-08-05 12:29] JoeDawson commented on #62
Hey guys,

Had a spare hour, a new release is now available https://github.com/JoeDawson/youtube/releases/tag/4.0.0

I also encountered the `json_decode() expects parameter 1 to be string, array given` error.

The `setClassConfig` method call has now been removed. It looks like it's not needed in the newer version of `google/apiclient`. So we shouldn't see that error any more.

I also created a ne

[2017-08-08 10:16] JoeDawson commented on #62
Anyone had a chance to check out the new version yet?

[2017-08-09 19:05] cleitokarloh opened #66 "json_decode() expects parameter 1 to be string, array given In Youtube.php line 342"
I changed for test, replacing  json_decode() for json_encode() and worked.

[2017-08-09 20:57] arcanedev-maroc commented on #66
Hi @cleitokarloh,

Can you try this and see if it solves your issue ?

Replace this method:

[code]
By this:

[code]

[2017-08-09 20:59] JoeDawson commented on #66
Hey @cleitokarloh,

Are you on the latest version of this package? `4.0.0`?

[2017-08-09 23:09] cleitokarloh commented on #66
Hi @arcanedev-maroc,

yes, problem solved!

Thanks.

[2017-08-09 23:11] cleitokarloh commented on #66
@JoeDawson Yes

[2017-08-12 08:06] Nublust commented on #62
Working great here, thanks for your work @JoeDawson 👍

[2017-08-12 08:07] JoeDawson commented on #62
Thanks for confirming Adam 👍🏼

On Sat, 12 Aug 2017 at 09:06, Adam McDonald <notifications@github.com>
wrote:

[2017-08-12 11:58] JoeDawson commented on #62
I'll go ahead and close this now, my testing appears to have worked and having had confirmation from @Nublust too that's good enough for me.

If you are experiencing issues still, double check you're on the latest.

[2017-08-12 11:58] #62 closed

[2017-08-24 11:57] jimmyt2003 commented on #66
I just upgraded and get this now too
[code]

[2017-08-24 11:58] JoeDawson commented on #66
Will take a look when I get a chance. If someone can solve this themselves submit a PR.

[2017-09-19 21:58] shigg1120 opened #69 "Youtube video upload limit"
This is rather a question. I am planning to upload videos posted by users on Youtube, but I've come across this article which says Youtube recently limits a number of videos users can upload per day to 50.

[https://www.quora.com/Is-there-a-limit-to-how-many-videos-you-can-upload-to-YouTube](https://www.quora.com/Is-there-a-limit-to-how-many-videos-you-can-upload-to-YouTube)

Is it even true? Is t

[2017-09-25 18:28] JoeDawson commented on #66
A 4.1 release is now available, thanks to #67.

[2017-09-25 18:28] #66 closed

[2017-11-20 12:14] ajitdas123 opened #70 "Non-static method Dawson\Youtube\Youtube::delete() should not be called statically"
When ever i m trying to call delete method or anyother method its givng me an error

[code]
This one giving me
`Non-static method Dawson\Youtube\Youtube::delete() should not be called statically
`
and then again

[code]
This one giving me an error saying
`Type error: Too few arguments to function Dawson\Youtube\Youtube::__construct(), 0 passed in F:\Projects\packageCreation\app\Http\Controllers\Te

[2017-11-20 12:27] ajitdas123 commented on #70
Sorry my bad i was using namespace instead i need to use Facades .
Thanks for this awesome work :+1:

[2017-11-20 12:27] #70 closed

[2017-11-21 14:16] adydevil opened #71 "show progress bar whether video is uploaded to youtube or not"
Hi Joe i have a question can we show the progressbar while we are uploading video to youtube or does it return any value that can let us know that video is processed or uploaded in your channel. Right now i am not able generate the thumbnail to preview bcoz i dont have any status or flag whether it is processed or not.. so it can be pursued or not ?? Any suggestions..

Multiple users can add video

[2017-11-26 16:49] badrshs opened #72 "assigning a video to specific playlist"
Hi ,
the package is awesome .
I'm wondering if the package supports assigning a  video to specific playlist  ?
thank you

[2017-12-22 07:23] ash2osh commented on #72
+1

[2017-12-22 14:49] aymaaan commented on #71
i have the same question how show the progressbar while we are uploading video ?

[2017-12-24 09:22] aymaaan commented on #72
+1

[2017-12-27 09:01] JoeDawson commented on #72
Hi guys,

Thanks for your interest. Currently there is no way to assign a video to a specific playlist, however if someone has the time to submit a PR I will happily review.

[2017-12-27 09:01] #72 closed

[2018-01-29 12:53] tunminlatt opened #73 "An access token is required to upload a video. - Laravel 5.4"
I installed successfully package and also set GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET, But when i tried to run with http://my.domain/youtube/auth, i got following error -
(1/1) Exception
An access token is required.
--
 

Can you help me what i have to do and why i am getting this error ?

[2018-01-29 12:54] JoeDawson commented on #73
Can you confirm you have followed the documentation? It doesn't look like you have authenticated.

[2018-01-30 04:05] tunminlatt commented on #73
I change from config file in enable true and then run /youtube/callback get 404 error and run youtube/auth get $_GET['code'] is not set. Please re-authenticate error

[2018-01-31 10:02] JoeDawson commented on #73
Please visit `/youtube/auth`- it's all mentioned in the readme - https://github.com/JoeDawson/youtube#authentication

[2018-02-21 14:21] ootim opened #75 "$_GET['code'] is not set. Please re-authenticate."
Hi, thanks for this package. I just have an issue, after following the steps and visited /youtube/callback i get this error "$_GET['code'] is not set. Please re-authenticate.".

Please do you know what I might have missed?
I'm using Laravel 5.5

Thanks.

[2018-02-21 14:30] ootim commented on #75
Hi, I've figured this out, thanks.

[2018-02-21 14:30] #75 closed

[2018-02-21 14:45] ootim opened #76 "Question"
Hi, is it possible to pass in the file request object as the video path or does it have to be uploaded first?

Thanks.

[2018-03-13 15:03] 1quintana opened #77 "An access token is required."
Hello Joe,
I am trying to use this package following the steps that you provided, but I am having the error An access token is required. I already run migration and I can see youtube_access_tokens.

That table is empty and even when I try to upload a video the refresh_token is no generated. I was trying to find some information to fix and I saw that people were having this problem a few years ago.

[2018-03-13 15:21] JoeDawson commented on #77
Have you authenticated? https://github.com/JoeDawson/youtube#authentication

[2018-03-13 16:49] 1quintana commented on #77
Thank you for the quick answer Joe.

For some reason when I try to open the url /youtube/auth in the app I get the error "Sorry, the page you are looking for could not be found." and that route is not in my routes.

http://myspotlight.app/youtube/auth

this is the config file and I already have the credentials in the .env file.
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET

<PRE>

<?php

return [

    /**

[2018-03-13 17:05] JoeDawson commented on #77
Please see the first sentence in the link I sent;

You will need to enable the routes by setting this value to true.

https://github.com/JoeDawson/youtube/blob/master/config/youtube.php#L33

As a default, these routes are disabled since you'll want to disable them after you have authenticated.

[2018-03-13 17:48] 1quintana commented on #77
Hey Joe,
Thank you for your help, that was definitely my problem. I misunderstood that part of the explanation thinking that I would find some commented lines.

Also Thanks a lot for such amazing work.

[2018-03-14 10:44] #77 closed

[2018-03-22 17:42] alhaji-aki opened #78 "Getting videos"
Using this package how do I get all videos from the youtube channel. Or this package is only for uploading and deleting videos?

[2018-03-23 12:28] JoeDawson commented on #78
Hello,

You would have to use this package in order to do that; alaouy/Youtube

[2018-03-23 12:28] #78 closed

[2018-04-07 22:39] Sebastiangperez commented on #71
i had the same problem, but my solution was upload the file to the server, show a progressbar using Dropzonejs  and make some cron job that runs at background to Youtube.
The issue is that youtube client dont gives any feedback that you can show.

[2018-04-07 22:41] Sebastiangperez commented on #69
Maybe you will need another approach o maybe youtube has a pay account ?

[2018-04-08 01:32] #69 closed

[2018-04-08 17:47] JoeDawson commented on #71
This might be possible, I would need to sit down and take a look at the documentation. Not a priority for me at the moment to offer this functionality. You are of course free to submit a PR should you wish to.

[2018-04-08 17:51] JoeDawson commented on #71
I'm not sure if there's this functionality provided via the API so will close this. Wouldn't rule it out though as there may calculate it manually and offer the functionality you're after. Not at the moment though, as always - open to PR's :)

[2018-04-08 17:51] #71 closed

[2018-04-11 08:27] shareefz commented on #62
joeDawson why i cant upload larger file to youtube

[2018-04-11 08:31] shareefz opened #79 "How to upload larger files"
i can't upload larger video file <2MB i had configured everything correct in php.ini

[2018-04-11 08:45] JoeDawson commented on #79
I cannot provide support for your upload limit, it's not related to this package.

[2018-04-11 08:45] #79 closed

[2018-04-11 08:46] JoeDawson commented on #76
Hey,

I would recommend storing the file from the request then uploading. At the moment I'm not sure if it's possible to upload directly from the request. Hope this helps!

[2018-04-11 08:46] #76 closed

[2018-04-20 10:26] panstromek opened #80 "Wrong return type annotation at upload method"
Method upload() of class Youtube is annotated as returning string but returns self instead.

[2018-04-20 13:01] JoeDawson commented on #80
Open to a PR :)

[2018-04-20 13:01] #80 closed

[2018-04-20 14:03] panstromek commented on #80
subbed PR

[2018-04-20 14:04] JoeDawson commented on #80
Merged :) Thanks!

[2018-05-16 18:06] dirham opened #82 "error when setting thumbnail"
I got this error when setting custom thumbnail:
`{ "error": { "errors": [ { "domain": "youtube.thumbnail", "reason": "forbidden", "message": "The authenticated user doesnt have permissions to upload and set custom video thumbnails.", "locationType": "header", "location": "Authorization" } ], "code": 403, "message": "The authenticated user doesnt have permissions to upload and set custom video thum

[2018-05-16 18:11] JoeDawson commented on #82
This means that the channel the video belongs to, doesn't have permission for custom thumbnails.

Visit https://www.youtube.com/features to find out more about Custom Thumbnails.

Closing since not related to the package.

[2018-05-16 18:11] #82 closed

[2018-05-16 19:51] dirham commented on #82
Ah my bad. Thanks

[2018-05-24 14:14] santiagotoledo91 opened #83 "Can't cache application routes due to the use of closures"
Hi!

As the routes are declared as closures the php artisan route:cache command fails, any posibility to extract the closure to a controller to allow route cache?

Thanks!

[2018-06-03 13:06] ayman1-elmalah opened #84 "How to solve quotaExceeded error"
I'm trying many time to upload youtube video then this error showed to me

[2018-06-03 21:36] ayman1-elmalah opened #85 "Not issue but question"
When i submit and access tokens is empty, it's showed access token is required, i think it should fetch access token data from youtube but failed, or i need to set it manual

[2018-06-03 21:37] JoeDawson commented on #85
Have you authenticated your channel?

[2018-06-03 21:40] ayman1-elmalah commented on #85
how to authenticated channel, client id and secret id ? and enabled routes from config > that's what i do from docs

[2018-06-03 21:41] JoeDawson commented on #85
Hi,

Can you please read the documentation? Everything is documented.

[2018-06-03 21:41] #85 closed

[2018-06-03 21:41] ayman1-elmalah commented on #85
hey, i do what written in docs, i just ask if there is any reason !!

[2018-06-03 21:42] ayman1-elmalah commented on #85
I worked locally, so if there is any problem with that

[2018-06-03 21:45] JoeDawson commented on #85
You asked how to authenticate the channel, but that's written in the documentation?

See here: https://github.com/JoeDawson/youtube#authentication

You then visit `/youtube/auth` from your application, you'll be taken to Google to authenticate your account - **then** you get your access token.

Sorry, but if you read the documentation - I don't think you'd be asking how to authenticate the channel

[2018-06-03 21:50] ayman1-elmalah commented on #85
And of course i did that, but it's not fetch the access token and message access token required message showed to me
do you need to see it teamviewer

[2018-06-03 22:43] ayman1-elmalah commented on #85
Hi
that's the error
![43536475342536444444444444444444444444444444444](https://user-images.githubusercontent.com/37438338/40891988-438156a8-6790-11e8-977b-04b59b86bc96.PNG)

[2018-06-04 07:39] JoeDawson commented on #85
Can you try truncating your access tokens table in your database and re-authenticating please?

--

[2018-06-04 09:39] ayman1-elmalah commented on #85
I did this many times, so i ask if there is any settings not written in docs and it's for google account as example

[2018-06-04 09:45] JoeDawson commented on #85
Can you try this for me please? https://github.com/JoeDawson/youtube/issues/63#issuecomment-317359222

[2018-06-04 09:46] JoeDawson commented on #83
Hi @santiagotoledo91

A little busy at the moment to do this unfortunately, happy to review a PR though if you have the time.

Thanks!

[2018-06-04 10:36] ayman1-elmalah commented on #85
![111111111111111111111111111111](https://user-images.githubusercontent.com/37438338/40913082-c4997e74-67f3-11e8-9b2a-e0ce3a6d369f.PNG)

I did it again , could you have video tutorial that's learning me how to do it ?

[2018-06-04 10:39] JoeDawson commented on #85
Can you show me what you're seeing in your access tokens table please?

Please remember to hide any sensitive info such as your actual token.

I had started a video, but I don't have the time to finish it at the moment.

[2018-06-04 10:40] JoeDawson commented on #85
It should look something like this:

[code]

[2018-06-04 12:08] ayman1-elmalah commented on #85
the issue that access token table not updated, it not fetch access token values

[2018-06-05 13:23] herberjackson opened #86 "not install"
does not install on laravel 5.1

[2018-06-11 17:13] steeleauto opened #87 "Any way I can get around this error?"
HI, excited to use this package but can't install unfortunately. I only know enough to be dangerous.. How can I install this? Below is the error I'm getting (not really sure how to satisfy it):

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package vlucas/phpdotenv == 1.1.1.0 could not be found.
  Problem 2
    - laravel/framework v5.0.

[2018-06-28 11:25] ayman1-elmalah opened #88 "Can't obtain my credentials"
It's not an issue but i guess that i obtain my credential with wrong way,
I create new project then go to credentials, and create oauth client id for web application then it returns client id with client secret, i put it in .env, then when i'm trying to auth it return this error
access token is required, it's not return access token to database
i did auth and enabling routes
![1234354553](https://

[2018-06-28 12:09] ayman1-elmalah commented on #88
this function return null
$this->client->getAccessToken()

[2018-07-14 05:59] rkg0612 opened #89 "Passing path from form."
How do I pass the whole file path to the controller to be uploaded? I can't seem to make it work because of invalid file path. Thanks.

[2018-07-16 05:40] #89 closed

[2018-07-16 05:41] rkg0612 opened #90 "Setup unique access token per app user"
Hi,

Is there a way to setup unique access token per user of the app? Thanks!

[2018-07-20 10:33] justinushermawan opened #91 "Get list of videos of a channel"
Is there a function to get all videos in my channel?

[2018-07-21 02:58] rkg0612 commented on #90
Cool! Looking forward to collab with you.

On Fri, Jul 20, 2018 at 7:06 PM, Joe Dawson <notifications@github.com>
wrote:

[2018-08-28 14:01] yassin-mokni opened #92 "Facades names conflict with alaouy/Youtube"
Hi,

I am using your package for uploading and `alaouy/Youtube` package to get video info,
in config/app.php I have
`        'YoutubeInfo' => Alaouy\Youtube\Facades\Youtube::class, `
`       'YoutubeUpload' => Dawson\Youtube\Facades\Youtube::class,`
and in the controller I have

[code]

but when I submit the form I get this error
[code]
is there a solution for this please ?

Thanks

[2018-09-07 13:40] Sebastiangperez opened #93 "Laravel Jobs and Undefined property: stdClass::$refresh_token"
Hi man ,
I have an issue , this only happened with jobs and this is suddenly.
If i upload the video directly from the web , works flawless , but when i try to doit using jobs , that error appear.
Im using the old version for laravel 5.4 and php 5.6.
Thanks.

[2018-10-03 18:54] #93 closed

[2018-10-16 04:27] ferdhika31 opened #94 "Get detail info video"
Is there any function to get the detail of the video? what's the function name? I need this function for my project.. thank you

[2018-10-17 20:02] devcflynn commented on #92
We are running into the same issue as @yassinMk. This package is great but it is definitely colliding with another useful package that allows you to a bunch of other Youtube API interaction. Any advice on a solution here?

[2018-10-18 08:51] JoeDawson commented on #92
Might look into renaming this package, I'll get back to you ASAP on this.

[2018-10-18 08:55] JoeDawson commented on #94
As per #95, this package doesn't offer this functionality - you can use https://github.com/alaouy/Youtube for that :)

[2018-10-18 08:55] #94 closed

[2018-10-18 08:55] JoeDawson commented on #88
Did you mange to resolve this?

[2018-10-18 08:56] JoeDawson commented on #87
What version of Laravel are you using?

[2018-10-18 11:08] steeleauto commented on #87
I’m on v5.0

[2018-10-18 11:09] JoeDawson commented on #87
The minimum requirement for this package is 5.4, sorry.

[2018-10-18 11:09] #87 closed

[2018-10-18 22:05] dcastrili opened #96 "Support for multiple accounts"
Any plans to support multiple Youtube accounts? Is there any reason why you did not consider to implement it from the start?

I am developing a service that is going to allow users to manage their Youtube videos.

[2018-10-19 08:45] JoeDawson commented on #96
Hi @dcastrili,

No plans yet. A lot of work to implement this and just very little time. This package needs a lot of attention and just don't have the time to re-work it at the moment.

You're obviously more than welcome to fork and build your own implementation.

Thanks

[2018-10-19 08:45] #96 closed

[2018-10-20 11:00] dcastrili commented on #96
Hi @JoeDawson,

Ok! I got it. Actually that is the same problem that I am facing now but I will take the chance to implement it by my own.

Thanks for sharing a good starting code base.

[2018-11-30 11:27] chris-faulkner opened #97 "Updating additional data (specifically: embeddable)"
Hi, thanks for the great package, it's really useful for me.

I was wondering if there's a good way to update more data for a video.
Specifically I want to be able to set video as embeddable. At the moment this doesn't appear to be an option as there are only limited options that can be updated. This is an issue as it always sets embeddable off as it's not supplied in the update, then I can't disp

[2018-12-06 07:52] avwalhusain opened #98 "invalid_grant and bad request"
hello,
I got these error when i hit url

{"success":false,"status_code":401,"message":"{\n \"error\": \"invalid_grant\",\n \"error_description\": \"Bad Request\"\n}","data":[]}

i am using laravel 5.6

thanks
Shaikh Avwalhusain

[2018-12-17 18:07] satoved commented on #97
Same problem, how did you do it?

[2018-12-17 22:39] chris-faulkner commented on #97
For now, I've left the videos as unlisted. They seem to stay embeddable this way, but I did go through the code before and get it working. Not had time to clean it up yet though but if I do soon i’ll post something back here

[2019-01-04 16:37] satoved opened #100 "Code 401: Invalid Credentials"
Trying to upload several videos one by one. Some of the randomly get response from youtube:
"code": 401, "message": "Invalid Credentials"

I know that this error should be related to invalid token, but the next video gets uploaded with the same token from the DB. They appear randomly and I don't understand what are they related to.

Maybe someone got the same issue?

[2019-01-16 18:43] umairm638 opened #101 "YouTube upload video API stopped working in Laravel"
It was working fine before but now when I try to upload video it through following error:

I've checked on Google Console, YouTube data API is enabled and everything seems to be fine as it was working before. What could be the issue then? Thanks!

    $video = Youtube::upload($fullPathToVideo, [
                        'title' => $request->postTitle,
                        'description' => $reque

[2019-01-16 22:34] tvercruysse commented on #101
i just tested. upload still works. Maybe you hit your usage limit ?

[2019-01-17 18:51] umairm638 commented on #101
I don't think so as it's not working from many days. Here is the screenshot of quotas: http://prntscr.com/m8kdkh

[2019-01-18 10:08] JoeDawson commented on #101
What's happening when you visit https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=927065889954?

[2019-01-18 10:13] malik-umair commented on #101
It redirect me to:

https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=youthmedia-174210

Here is the screenshot: [http://prntscr.com/m8tnjy](url)

[2019-01-18 10:13] JoeDawson commented on #101
Screenshot redirects me to here: https://github.com/JoeDawson/youtube/issues/url

[2019-01-18 10:15] JoeDawson commented on #101
What happens if you re-authenticate your account?

[2019-01-18 10:16] malik-umair commented on #101
It successfully authenticate it and new entry is made in database table.

[2019-01-18 10:17] JoeDawson commented on #101
In the `youtube_access_tokens` table?

[2019-01-18 10:17] malik-umair commented on #101
yes in youtube_access_tokens table

[2019-01-21 13:48] 786shahnawaz786 commented on #73
An access token is required. this is my error how i solve . how  access token save in database

[2019-01-21 18:21] JoaoStefani opened #102 "Versão"
Queria sabe se funciona na versão 5.6?

Eu estou com um erro de An access token is required.

Queria uma ajuda.

[2019-01-31 02:55] arifnurdiansyah92 opened #103 "Can't set thumbnail"
I tried to upload and set the thumbnail with this code
[code]
and get error like this
[code]

[2019-02-02 10:21] nadeemse opened #104 "youtube/auth url is not working ({"message":"Resource not found"})"
Hi,

I have configured everything but when I Am accessing youtube/auth url it's not working. any help ?

[2019-02-18 12:43] QadeerQT opened #105 "An access token is required."
Hi Jeo!

I'm getting Token required error while already Enabled route option but still it's not working.
![screenshot from 2019-02-18 17-42-06](https://user-images.githubusercontent.com/39376895/52951820-9d67f600-33a4-11e9-8e2c-8bd1cb9c19f0.png)

`<?php

return [

    /**
     * Client ID.
     */
    'client_id' => env('GOOGLE_CLIENT_ID', null),

    /**
     * Client Secret.
     */
    'client_

[2019-02-20 13:27] gomezed opened #106 "Can I use this package to play private videos on my website?"
this is a highly desired feature for several sites and clients, to be able to display private (not unlisted) videos in my website, since the package authenticates to a single google account to upload videos I was wondering if it can or can be extended to play private videos from that account.

many thanks in advance

[2019-02-22 12:46] JoeDawson commented on #106
Hello @gomezed,

I don't think this is possible since you're unable to embed a private video.

[2019-02-22 12:46] #106 closed

[2019-04-24 14:39] badrshs opened #109 "1605 Quotas for each video"
Hi , as you know youtube reduced the number of Quotas from  3.000.000 to 10.000
when i'm trying to upload 1 video to youtube it cost me 1605 Quotas 🤔🤔
is that normal ? as i understand each request should cost 1 Quota or something around that  but 1605  is very big number  .
what could be the issue here ?

this is my testing code
[code]

[2019-05-13 10:18] pakcybershagufta commented on #104
Any solution???????????/

[2019-05-13 11:40] pakcybershagufta opened #110 "A Google "client_id" and "client_secret" must be configured."

[2019-05-13 12:41] joedawson commented on #110
More info please. Looks like you haven't setup your keys.

[2019-05-13 12:45] joedawson commented on #109
I'm not sure how Google determine what they consider a quota. However there should only be a maximum of 3 requests to Google.

- Check Authentications
- If token needs refreshing, it will.
- Then upload will proceed.

Again, not sure what Google would consider these requests to cost in terms of quotas.

1605 does seem like a large number. However I'm not sure when I was using this package, what so

[2019-05-13 12:47] joedawson commented on #105
Is your `youtube_access_tokens` table empty?

[2019-05-14 04:55] pakcybershagufta commented on #110
![image](https://user-images.githubusercontent.com/12270532/57671718-5e0d1680-762e-11e9-9822-6cd8c4bae67f.png)

[2019-05-14 04:55] pakcybershagufta commented on #110
YOutube/auth route not found....?

[2019-06-02 11:16] badrshs commented on #109
Hi , Thank you for your help , I got the answer . unfortunately it's new google policy for using there api service .
1600 for each uploaded video .
each day we have maximum 10000
So 6 videos are the maximum to upload everyday which is soo low :( .

  **Calculating quota usage**
[code]

more details :
https://developers.google.com/youtube/v3/getting-started

thank you .

[2019-07-19 07:12] MurtazaRangwala commented on #92
running into the same isssue any way to resolve?

[2019-07-25 22:56] gazben commented on #105
@joedawson Same problem here. The table is empty. The client_id and secret are in the env file.
Did I miss something?

[2019-07-25 23:18] gazben commented on #105
@joedawson false alert, sorry.
Solution: https://stackoverflow.com/questions/13871982/unable-to-refresh-access-token-response-is-unauthorized-client

[2019-10-16 13:51] anasbakro opened #111 "Laravel 6.0 Support"
Are there any plans to upgrade to laravel 6.0?

[2019-11-06 04:00] alexkorsukov commented on #111
Hello,

Critical for our project as well. Do you have a time line for Laravel 6.0?

Thanks

[2019-11-19 22:57] imsidz commented on #111
please add support for laravel ^6.0

[2019-11-19 22:58] joedawson commented on #111
Open to PR's people :)

Very busy at the moment so haven't had much time to update my packages.

[2019-11-28 10:50] #109 closed

[2020-01-18 18:10] JimishF commented on #58
any updates?

[2020-01-23 14:25] felix2056 opened #112 "Can i use this package with Vuejs?"
is it possible to use this with vuejs?

[2020-01-23 14:31] joedawson commented on #112
If you create your own API for Vue to interact with, then certainly. However if you're asking if this works as a drop-in for Vue, the no.

[2020-01-23 14:31] #112 closed

[2020-01-23 17:18] joedawson commented on #110
@pakcybershagufta can you confirm that you have the following setup in your `.env`?

[code]

[2020-01-23 17:21] joedawson commented on #104
@nadeemse can you try clearing your routes and trying again please?

[2020-01-23 17:27] #88 closed

[2020-01-23 17:27] joedawson commented on #88
Feel free to create a new issue if you're still experience an issue.

[2020-01-23 17:30] joedawson commented on #97
@chris-faulkner hey Chris, I know this issue is very old but I'd like to at least make some comments on it. Hopefully you got something working in the end.

You can use the `update` method, documented here: https://github.com/joedawson/youtube#updating-a-video

[2020-01-23 17:30] #97 closed

[2020-01-23 17:30] joedawson commented on #98
What URL are you hitting @avwalhusain? I know this is over a year old, but curious to see if you still need help.

[2020-01-23 17:31] joedawson commented on #100
Will take a look at this very soon, looks similar to #98 too.

[2020-01-23 17:32] joedawson commented on #98
Also noted in #100, I will continue investigation there.

[2020-01-23 17:32] #98 closed

[2020-01-23 17:34] joedawson commented on #102
@JoaoStefani this should work in 5.6, however it will soon be updated to be compatible with 6.0. Keep an eye out for a new release where I am planning on improving token handling, a common issue people have been experiencing.

[2020-01-23 17:34] #102 closed

[2020-02-13 09:30] vishal-sancheti opened #113 "Is there a way to use user specific access token?"
I wish to store user id along with youtube access token and based on the authentication and use the appropriate token to upload videos. Is there any feature or method available to do this?

[2020-02-13 09:46] joedawson commented on #113
Currently this is not possible @vishal-sancheti. You can only authenticate a single YouTube account for your application.

[2020-02-13 09:46] #113 closed

[2020-02-15 12:07] alibenali commented on #111
Hi Joedawson, This package is a very helpful package, Please investigate your time on it and we are here to help you with the donation if you want.

[2020-04-07 22:55] dmsysop opened #114 "quotaExceeded - Exception returns error 500"
While testing the package, my shipping quota reached the limit and I ended up receiving this exception in return.

However, when in production, the error returned is a 500 error.

Wouldn't it be possible to try to return this message as a warning on the screen to the user instead of a 500 error?

By the way, congratulations on the package! It is excellent!
![error-dawson](https://user-images.githu

[2020-04-08 09:33] artisansweb commented on #111
I have submitted a pull request which should work with Laravel 6 and 7.
https://github.com/joedawson/youtube/pull/115

[2020-04-19 12:30] joedawson commented on #111
Thanks @artisansweb - merged and tagged for release (5.0.0)!

[2020-04-19 12:30] #111 closed

[2020-05-09 08:32] suarminrais opened #116 "I got Undefined index: created when tried to saveAccessTokenToDb"

[2020-05-09 08:33] suarminrais commented on #116
how to handle it ?

anyone faced same issue ?

[2020-05-10 20:02] #116 closed

[2020-05-15 19:26] sunzid02 commented on #75
hello how did you solved this issue?

[2020-05-15 19:34] sunzid02 opened #117 "Re-authenticate"
Hello,
After following the steps and visited /youtube/callback i get this error "$_GET['code'] is not set. Please re-authenticate.".

Can you tell me how can I fixed this issue?
I'm using Laravel 5.5

Thanks.

[2020-05-22 07:47] zhafariirsyad opened #118 "Playlist"
How to upload video to playlist using this library?

[2020-05-22 22:50] MACscr commented on #114
Did you get this resolved? I need a better way to handle it in a smoother fashion as well.

[2020-05-27 07:45] joedawson commented on #118
It is not possible at this time to add a video to a playlist. Open to PR's :)

[2020-05-27 07:45] #118 closed

[2020-05-27 07:47] joedawson commented on #117
You wouldn't visit `/youtube/callback` directly. You should add the callback URL to you project in the Google API Console.

You can then visit `/youtube/auth` to authenticate your Google account.

[2020-05-27 07:47] #117 closed

[2020-05-27 07:48] joedawson commented on #114
Quota exceeded is being returned from Google, you will need to request a higher quota from them.

[2020-05-27 07:48] #114 closed

[2020-05-27 07:49] joedawson commented on #110
Closing due to inactivity.

[2020-05-27 07:49] #110 closed

[2020-05-27 07:50] #104 closed

[2020-05-27 13:32] MACscr commented on #114
Talking about the exception handling of it...

- Mark

[2020-05-27 13:33] joedawson commented on #114
You can handle it using a simple try catch.

https://www.php.net/manual/en/language.exceptions.php

[2020-06-09 18:48] gazben commented on #83
I added a controller to #119 this should fix it

[2020-07-10 08:49] magojr opened #120 "1MB chunk hardcoded should be moved to config"
Hello,
I'm using the library for a project for a Ski Team: coaches will upload videos of athletes using the site and it upload them to youtube.
I'm developing it and checking functionality uploading about 20/25 video of 125MB average.
It stop to works giving (in the Laravel log) a quota reached exception (10.000 daily).
I was figuring out that a video has a weight of 1 but going into the code I di

[2020-08-15 15:55] corocraft commented on #116
I have the same problem. How did you solve?

[2020-08-30 02:26] omardevm opened #121 "Upload with public parameter got blocked (private) on youtube"
![image](https://user-images.githubusercontent.com/44220656/91649865-fd316980-ea3d-11ea-970e-03afb2bab2a3.png)
Everytime I use this code:
![image](https://user-images.githubusercontent.com/44220656/91649895-4386c880-ea3e-11ea-9e83-c86c9a286d1d.png)
 $video = Youtube::upload($request->file('video')->getPathName(), [
                'title' => $request->input('title'),
                'description'

[2020-09-08 22:45] marcuus commented on #110
I have configured them but I still get the error. Are these meant to come from the credentials page or the oauth page?

[2020-09-08 23:52] marcuus commented on #77
You need to clear the route table to be able to do this.

[2020-09-21 17:05] alkairis opened #122 "While uploading unlisted video it got uploaded as private"
I am trying to upload video as unlisted but it got uploaded as private

[2020-09-23 06:15] Jhilik11 opened #123 "Not found exception"
Even after using use Youtube I am getting not found exception

[2020-09-24 07:22] Ali07 commented on #123
i Had same issue, any solution?

[2020-09-25 13:08] joedawson commented on #123
Can you please show me your code?

[2020-09-25 13:31] Ali07 commented on #123
This is my code
![Screen Shot 2020-09-25 at 9 28 31 PM](https://user-images.githubusercontent.com/15240541/94272859-3f36c800-ff76-11ea-85a7-85788724c94d.png)

and this is the response when i try to upload..
![Screen Shot 2020-09-25 at 9 29 10 PM](https://user-images.githubusercontent.com/15240541/94272963-6097b400-ff76-11ea-9743-fe85db5b6f75.png)

Google_Service_Exception not found

[2020-09-25 13:33] Jhilik11 commented on #123
public function store(Request $request)
    {
        //

        $video = Youtube::upload($request->file('video')->getPathName(), [
            'title'       => $request->input('title'),
            'description' => $request->input('description')
        ]));

        return "Video uploaded successfully. Video ID is ". $video->getVideoId();
    }

[2020-09-25 13:36] Jhilik11 commented on #123
One more thing I want to ask I am using using https on live server So when I am using https://your_domain/youtube/auth I am getting "Error 400: redirect_uri_mismatch"

[2020-09-26 21:01] pluzmedia opened #124 "Add support to Laravel 8"
Kindly add the support to upgrade Laravel 8

[2020-09-26 21:09] joedawson commented on #123
@Ali07 @Jhilik11 preferably your controllers please.

[2020-09-26 21:09] #124 closed

[2020-09-26 21:10] joedawson commented on #124
Please submit a PR for support.

[2020-09-28 06:11] Ali07 commented on #123
@joedawson am i missing something?

[2020-09-28 06:27] Jhilik11 commented on #123
<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Youtube;

class VideoController extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Illuminate\Contracts\Foundation\Application|\Illuminate\Contracts\View\Factory|\Illuminate\Http\Response|\Illuminate\View\View
     */
    public function index()
    {
        //
        return view('

[2020-09-28 06:30] Jhilik11 commented on #123
<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Youtube;

class VideoController extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Illuminate\Contracts\Foundation\Application|\Illuminate\Contracts\View\Factory|\Illuminate\Http\Response|\Illuminate\View\View
     */
    public function index()
    {
        //
        return view('

[2020-09-28 06:36] Jhilik11 commented on #123
[VideoController.zip](https://github.com/joedawson/youtube/files/5290318/VideoController.zip)

[2020-09-28 06:57] joedawson commented on #123
Can you paste your controllers here?

[2020-09-28 06:58] Jhilik11 commented on #123
class VideoController extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Illuminate\Contracts\Foundation\Application|\Illuminate\Contracts\View\Factory|\Illuminate\Http\Response|\Illuminate\View\View
     */
    public function index()
    {
        //
        return view('video');
    }

    /**
     * Show the form for creating a new resource.
     *

[2020-09-28 07:01] joedawson commented on #123
@Jhilik11 The full controller please!

[2020-09-28 07:02] joedawson commented on #123
Everything from <?php onwards

[2020-09-28 07:04] Jhilik11 commented on #123
<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Youtube;

[2020-09-28 07:05] Jhilik11 commented on #123
<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Youtube;

[2020-09-28 07:07] Jhilik11 commented on #123
``<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Youtube;

class VideoController extends Controller
{
    /**
     * Display a listing of the resource.
     *
     * @return \Illuminate\Contracts\Foundation\Application|\Illuminate\Contracts\View\Factory|\Illuminate\Http\Response|\Illuminate\View\View
     */
    public function index()
    {
        //
        return view

[2020-09-28 08:16] joedawson commented on #123
@Jhilik11 have you also registered the alias in `config/app.php`?

[code]

[2020-09-28 08:17] Jhilik11 commented on #123
Yes

[2020-09-28 08:53] joedawson commented on #123
Does running `composer dump-autoload` resolve your issue?

[2020-09-28 09:35] Jhilik11 commented on #123
I tried still not working

[2020-09-28 09:36] joedawson commented on #123
What version of the package are you using?

[2020-09-28 09:39] Jhilik11 commented on #123
"dawson/youtube": "^5.0",

[2020-09-29 14:20] topclaudy commented on #123
I have the same problem with Laravel 8. Worked with Laravel 7

[2020-09-30 11:28] topclaudy commented on #123
This error happens when executing this line of code: $status = $media->nextChunk($chunk);

[2020-09-30 15:00] topclaudy commented on #123
This is not related to the package. It works after updating my dependencies:

[code]

Probably something bogus with the previous version of some guzzle related packages (or guzzlehttp/guzzle itself)

[2020-09-30 21:32] Ali07 commented on #123
can I see your dependencies? i still get the error.. @topclaudy

[2020-10-01 03:36] Solovic2 opened #127 "how can i make a playlist and push video to it ?"

[2020-10-01 10:14] joedawson commented on #127
This is not possible with this package.

[2020-10-01 10:14] #127 closed

[2020-10-02 16:21] topclaudy commented on #123
@Ali07 I listed the related dependencies in my previous post

[2020-10-07 13:52] jaykishnk commented on #122
you have fill a audit form to get your video uploaded as public.
check this out .
https://support.google.com/youtube/contact/yt_api_form

[2020-10-12 07:50] joedawson commented on #122
As of 28th July, Google now require (as @jaykishnk mentioned) an audit of your application before allowing public/unlisted status'.

You can see more here: https://developers.google.com/youtube/v3/revision_history#release_notes_07_28_2020

[2020-10-12 07:50] #122 closed

[2020-10-12 07:51] joedawson commented on #121
As of 28th July, Google now require an audit of your application before allowing public/unlisted status.

You can see more here: https://developers.google.com/youtube/v3/revision_history#release_notes_07_28_2020

[2020-10-12 07:51] #121 closed

[2020-10-12 07:53] joedawson commented on #120
I agree that this would be useful to be as part of the config, I will look into adding this as part of the next major release.

[2020-10-12 07:54] joedawson commented on #123
@Jhilik11 @Ali07 are either of you still experiencing an issue after updating your packages?

[2020-10-12 08:03] Jhilik11 commented on #123
yes

[2020-10-12 08:16] Ali07 commented on #123
@joedawson i'm good, i think the problem from the API, took sometime to get the data... thank you..

[2020-11-24 14:28] alexvlrt opened #128 "Add possibility to set embeddable status attribute"
It would be very useful if we could set the "Embeddable" property to true in status settings. Actually, there is only the privacy status already defined.

[2021-02-06 01:50] edwardcp20 opened #129 "How can I Share private youtube videos automatically?"

[2021-02-07 12:56] joedawson commented on #129
This would be an implementation of your own and not something this package can help you with.

[2021-02-07 12:56] #129 closed

[2021-07-16 10:45] manojit-envertis opened #130 "Can't delete a youtube video"
Following is the syntax I'm using to delete a youtube video:-

`Youtube::delete($this->video_id);`

but it is not working. It is showing the below error:-

`Google\Service\Exception
{ "error": { "code": 400, "message": "No filter selected. Expected one of: myRating, chart, id", "errors": [ { "message": "No filter selected. Expected one of: myRating, chart, id", "domain": "youtube.parameter", "reas

[2021-07-16 10:46] #130 closed

[2021-07-18 01:14] erxsto commented on #92
have you solved it, I have the same problem?

[2021-07-18 21:32] erxsto opened #131 "call_user_func_array() expects parameter 1 to be a valid callback, class 'Google\Client' does not have a method 'getVideoInfo'"
I'm working with the Alaout and Dawson package, when I get the information, I get this error...

[2021-07-19 02:54] MurtazaRangwala commented on #92
i hear you but its been so long i dont even remember the project properly i
dont have the access to the code anymore really sorry couldn't help you

On Sun, Jul 18, 2021 at 6:44 AM erxsto ***@***.***> wrote:

[2022-02-07 23:02] abetwothree opened #132 "PHP 8 and/or 8.1 support?"
Just wondering if this package will support PHP 8 and or 8.1.

Thank you for the great package!

[2022-04-21 17:28] nam-co commented on #132
Is this package still maintain? php 8.1? Laravel 9? just wondering thanks

[2022-08-01 17:37] leknoppix commented on #132
I have update de composer.json

My pull request
https://github.com/joedawson/youtube/pull/133

[2022-08-17 13:13] Naveedali1234 opened #136 "filesize(): stat failed error"
Hi :)

thank you for this easy package. i have an issue with the video upload. i first upload the video to my project folder using below code:

    `if ($this->uploaded_video) {

            $filename = $this->uploaded_video->getFilename();
            $this->uploaded_video->storeAs('public/instruction-videos', $filename);
        }`

it's uploaded successfully to project folder and i can access t

[2022-09-20 18:40] sharipovmarat commented on #136
$fullpath should be absolute path to file on server, not public url.

$fullpath = Storage::disk('local')->path($filename)

[2022-09-20 18:45] sharipovmarat commented on #132
My team forked this project...

https://github.com/daitsuna-group/youtube